---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import ProjectCard from '@components/pages/projects/ProjectCard.astro';
import Heading from '@components/typography/Heading.astro';

// const allProjects = await getCollection('projects');
const featuredProjects = await getCollection('frontendProjects', ({ data }) => {
  return data.featured === true;
});

const otherProjects = await getCollection('frontendProjects', ({ data }) => {
  return data.featured === false;
});

const title = 'Projects';
---

<style>
  /* *** General *** */

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style: none;
  }

  section {
    width: 100%;
    padding-inline: 1rem;
  }

  section.project-section {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  ul.projects-list {
    display: grid;
    gap: 2rem;

    list-style: none;

    padding: 0;
    margin: 0;
  }

  /* *** Blog Topics Navigation *** */

  .project-areas-nav {
    grid-column: span 2;

    margin-bottom: 4rem;
    padding-inline: 1rem;

    width: 100%;
  }

  ul.project-areas-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    background-color: var(--clr-base);

    padding: 1rem;

    border-radius: var(--radius-base);
  }

  li.project-area-list-item {
    display: flex;
    width: 100%;

    padding: 0;
  }

  li.projects-list-item {
    display: flex;
  }

  @media screen and (min-width: 1024px) {
    ul.projects-list {
      grid-template-columns: 1fr 1fr;
      gap: 3rem 2rem;

      list-style: none;

      padding: 0;
      margin: 0;
    }
  }
</style>

<BaseLayout title={title}>
  <nav class='project-areas-nav max-width'>
    <ul class='project-areas-list'>
      <li class='project-area-list-item'>
        <a
          href='#featured'
          class='blog-topics-link'
          >Featured</a
        >
      </li>

      <li class='project-area-list-item'>
        <a
          href='#other'
          class='blog-topics-link'
          >Other</a
        >
      </li>

      <li class='project-area-list-item'>
        <a
          href='#frontend-mentor'
          class='blog-topics-link'
          >Frontend Mentor</a
        >
      </li>

      <li class='project-area-list-item'>
        <a
          href='#archive'
          class='blog-topics-link'
          >Archived</a
        >
      </li>
    </ul>
  </nav>

  <section
    id='featured'
    class='max-width project-section'>
    <Heading
      level={2}
      size='l4x'
      >Featured</Heading
    >
    <p>My featured projects</p>
    <ul class='projects-list'>
      {
        featuredProjects.map((project) => (
          <li class='projects-list-item'>
            <ProjectCard
              url={`/projects/frontend/${project.slug}`}
              data={project.data}
            />
          </li>
        ))
      }
    </ul>
  </section>

  <section
    id='other'
    class='max-width project-section'>
    <Heading
      level={2}
      size='l4x'
      >[PH] Other</Heading
    >
    <p
      style='font-size: 1rem; font-weight: 400; font-style: italic; color: var(--clr-subtext-0)'>
      (think of a better title for this section!)
    </p>
    <p>[PH] Projects sorted by area and stuff I guess</p>
    <ul class='projects-list'>
      {
        otherProjects.map((project) => (
          <li>
            <ProjectCard
              url={`/projects/frontend/${project.slug}`}
              data={project.data}
            />
          </li>
        ))
      }
    </ul>
  </section>

  <section
    id='archive'
    class='max-width project-section'>
    <Heading
      level={2}
      size='l4x'
      >Archive</Heading
    >
    <p>My archived projects</p>
    <a href='/projects/frontend/archive'>Archived Projects</a>
  </section>
</BaseLayout>
