---
import { getCollection, type CollectionEntry } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import ProjectCard from '@components/pages/projects/ProjectCard.astro';

type FrontendProject = CollectionEntry<'frontendProjects'>;

const sortProjectsByDate = (projects: FrontendProject[]): FrontendProject[] => {
  return projects.sort((a: FrontendProject, b: FrontendProject) => {
    const dateA: Date | undefined = a.data.date_completed;
    const dateB: Date | undefined = b.data.date_completed;

    if (dateA && dateB) {
      return new Date(dateB).getTime() - new Date(dateA).getTime();
    }

    if (dateA && !dateB) return -1;
    if (!dateA && dateB) return 1;

    return 0;
  });
};

const allFeaturedProjects: FrontendProject[] = await getCollection(
  'frontendProjects',
  ({ data }) => {
    return data.featured === true && data.archived !== true;
  }
);

const allOtherProjects: FrontendProject[] = await getCollection(
  'frontendProjects',
  ({ data }) => {
    return data.featured === false && data.archived !== true;
  }
);

const featuredProjects: FrontendProject[] =
  sortProjectsByDate(allFeaturedProjects);
const otherProjects: FrontendProject[] = sortProjectsByDate(allOtherProjects);

const title = 'Austin Hagel | Frontend Projects';
---

<style>
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style: none;
  }

  section {
    width: 100%;
    padding-inline: 1rem;
  }

  section.project-section {
    margin-bottom: 2rem;
  }

  .section-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
  }

  .section-title-icon {
    position: relative;
    top: -0.3rem; /* Adjustment to help visually center the icon */
    font-size: 3rem;
  }

  .section-title {
    font-size: 2.5rem;
  }

  ul.projects-list {
    display: grid;
    gap: 2rem;

    list-style: none;

    padding: 0;
    margin: 0;
  }

  hr {
    height: 1px;

    background-color: var(--clr-surface-1);
  }

  hr.hr-short {
    display: flex;

    border-radius: var(--radius-pill);

    background-color: var(--clr-primary);

    height: 0.25rem;

    min-width: auto;
    width: 100%;
    max-width: 5rem;

    margin: 0;
    margin-left: 0.15rem; /* just to help align it with the title */
  }

  hr.section-title-hr {
    margin-bottom: 2rem;
    margin-top: 0.2rem;
  }

  .section-spacer {
    margin-top: 2.5rem;
    margin-bottom: 4rem;

    height: 1rem;
    width: 100%;

    padding-inline: 1rem;
  }

  section#archive {
    display: flex;
    gap: 1rem;
    margin-bottom: 6rem;
  }

  a.other-project-page-link {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    padding-inline: 1rem;
    padding-block: 0.6rem;

    background-color: var(--clr-base);

    width: fit-content;

    outline: 1px solid var(--clr-surface-0);
    border-radius: var(--radius-input);

    transition-property: outline, background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.other-project-page-link:hover {
    color: var(--clr-primary);
    background-color: var(--clr-surface-0);
    outline: 1px solid var(--clr-surface-1);
  }

  .intro-wrapper {
    background-color: var(--clr-base);
    padding: 1rem;
    margin-bottom: 2rem;

    border-radius: var(--radius-surface);
    outline: 1px solid var(--clr-surface-0);
  }

  a.intro-link {
    color: var(--clr-primary);
    font-weight: 600;
  }

  a.intro-link:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
    .section-title {
      font-size: 2rem;
    }

    .section-title-icon {
      font-size: 2rem;
      top: -0.2rem;
    }
  }

  @media screen and (min-width: 1024px) {
    ul.projects-list {
      grid-template-columns: 1fr 1fr;
      gap: 3rem 2rem;

      list-style: none;

      padding: 0;
      margin: 0;
    }
  }
</style>

<BaseLayout title={title}>
  <section
    id='featured'
    class='max-width project-section'>
    <div class='intro-wrapper'>
      <p>
        This is my collection of frontend projects. Feel free to check them out,
        and don't forget to visit my profile on <a
          class='intro-link'
          target='_blank'
          href='https://astn.sh/github'
          >Github</a
        > or <a
          class='intro-link'
          href='https://astn.sh/frontend-mentor'
          target='_blank'
          >Frontend Mentor</a
        > if you want to see more!
      </p>
    </div>
    <div class='section-title-wrapper'>
      <span class='section-title-icon ri-star-fill'></span>
      <h2 class='section-title'>Featured Projects</h2>
    </div>
    <hr class='hr-short section-title-hr' />
    <ul class='projects-list'>
      {
        featuredProjects.map((project) => (
          <li class='projects-list-item'>
            <ProjectCard
              url={`/projects/frontend/${project.slug}`}
              data={project.data}
            />
          </li>
        ))
      }
    </ul>
  </section>

  <div class='max-width section-spacer'>
    <hr />
  </div>

  <section
    id='other'
    class='max-width project-section'>
    <div class='section-title-wrapper'>
      <span class='section-title-icon ri-folder-2-fill'></span>
      <h2 class='section-title'>More Projects</h2>
    </div>
    <hr class='hr-short section-title-hr' />
    <ul class='projects-list'>
      {
        otherProjects.map((project) => (
          <li>
            <ProjectCard
              url={`/projects/frontend/${project.slug}`}
              data={project.data}
            />
          </li>
        ))
      }
    </ul>
  </section>

  <div class='max-width section-spacer'>
    <hr />
  </div>

  <section
    id='archive'
    class='max-width project-section'>
    <a
      class='other-project-page-link'
      href='/projects/frontend/archive'>
      <span class='ri-archive-stack-fill'></span>
      <span>Archived Projects</span>
    </a>
    <a
      class='other-project-page-link'
      href='/projects/frontend/tags'>
      <span class='ri-price-tag-3-fill'></span>
      <span>Project Tags</span>
    </a>
  </section>
</BaseLayout>
