---
import Chip from '@components/interface/Chip.astro';
import Tag from '@components/interface/Tag.astro';

type Props = {
  title: string;
  url: string;
  iconClass: string;
  listType: 'topics' | 'categories' | 'tags';
  list: any[];
  counts?: Record<string, number>;
};

const { title, url, iconClass, listType, list, counts } = Astro.props;
---

<style>
  /* *** General *** */
  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style: none;
  }

  li {
    display: flex;

    padding: 0;
  }

  .blog-nav-sublist-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;

    background-color: var(--clr-base);
    width: 100%;

    border-radius: var(--radius-surface);
    /* outline: 2px solid var(--clr-surface-0); */

    overflow: hidden;
  }

  .blog-nav-list {
    display: flex;
    gap: 1rem;
  }

  .blog-nav-list-title {
    display: flex;
    align-items: center;
    justify-content: start;

    gap: 0.6rem;

    font-weight: 500;

    background-color: var(--clr-surface-0);

    width: 100%;
    height: 2.8rem;

    overflow: hidden;

    border: 1px solid;
    border-color: var(--clr-surface-2);
    border-radius: var(--radius-surface) var(--radius-surface) 0 0;

    transition-property: background-color, color, border-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  .blog-nav-list-title:hover {
    background-color: var(--clr-surface-1);
    color: var(--clr-primary);
    border-color: var(--clr-primary);
  }

  .blog-nav-list-title:hover > .blog-nav-list-title-icon-wrapper {
    background-color: var(--clr-primary);
    color: var(--clr-base);
  }

  .blog-nav-list-title-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;
    height: 100%;

    background-color: var(--clr-mantle);

    transition-property: background-color, color, border-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  .blog-nav-list-title-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
  }

  .blog-nav-list-title-label {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 0.2rem;
  }

  .blog-nav-sublist {
    padding-inline: 1rem;
    padding-block: 1rem;

    font-size: 1rem;
  }

  /*** Taxonomy Lists ***/

  .topics-list {
    display: flex;
    font-size: 1rem;
    width: 100%;
  }

  .topic-list-item-wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;

    position: relative;
    width: 100%;
  }

  .topic-list-item-wrapper:hover {
    color: var(--clr-primary);
  }

  .topic-list-item-label {
    max-width: fit-content;
  }

  .topic-list-item-seperator {
    content: '';

    position: relative;
    left: 0;

    border-bottom: 2px dotted var(--clr-subtext-0);

    margin-inline: auto;

    width: 90%;
    height: 100%;

    opacity: 0.4;
  }

  .topic-list-item-count {
    font-size: 1rem;
    font-weight: 300;
    color: var(--clr-subtext-0);
  }

  .categories-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem 0.5rem;
  }

  .tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.45rem 0.4rem;
  }
</style>

<div class='blog-nav-sublist-wrapper'>
  <a
    href={url}
    class='blog-nav-list-title'>
    <span class='blog-nav-list-title-icon-wrapper'>
      <span class=`blog-nav-list-title-icon ${iconClass}`></span>
    </span>
    <span class='blog-nav-list-title-label'>{title}</span>
  </a>
  <ul class=`blog-nav-sublist ${listType}-list`>
    {
      list.map((item: any) => (
        <li>
          {listType === 'topics' && (
            <a
              href={`/blog/${listType}/${item}`}
              class='topic-list-item-wrapper'>
              <span class='topic-list-item-label'>{item}</span>
              <div class='topic-list-item-seperator' />
              <span class='topic-list-item-count'>({counts![item]})</span>
            </a>
          )}
          {listType === 'categories' && (
            <Chip url={`/blog/${listType}/${item}`}>{item}</Chip>
          )}
          {listType === 'tags' && (
            <Tag url={`/blog/${listType}/${item}`}>{item}</Tag>
          )}
        </li>
      ))
    }
  </ul>
</div>
