---
import Chip from '@components/interface/Chip.astro';
import Tag from '@components/interface/Tag.astro';
import { calculateReadingTime } from '@scripts/utils/readingTime';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');

const sortedPosts = allPosts
  .sort(
    (a, b) => b.data.date_published.valueOf() - a.data.date_published.valueOf()
  )
  .map((post: any) => ({
    ...post,
    readingTime: calculateReadingTime(post.body),
  }));

const topics = [
  ...new Set(sortedPosts.map((post: any) => post.data.topic).flat()),
];

const categories = [
  ...new Set(sortedPosts.map((post: any) => post.data.category).flat()),
];

const tags = [
  ...new Set(sortedPosts.map((post: any) => post.data.tags).flat()),
];
---

<style>
  /* *** General *** */
  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style: none;
  }

  li {
    display: flex;

    padding: 0;
  }

  /* *** Blog Side Navigation *** */

  .blog-nav-sublist-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;

    background-color: var(--clr-base);
    width: 100%;

    border-radius: var(--radius-surface);
    /* outline: 2px solid var(--clr-surface-0); */

    overflow: hidden;
  }

  .blog-nav-list-title {
    display: flex;
    align-items: center;
    justify-content: start;

    gap: 0.6rem;

    font-weight: 500;

    background-color: var(--clr-surface-0);

    width: 100%;
    height: 2.8rem;

    overflow: hidden;

    border: 1px solid;
    border-color: var(--clr-surface-2);
    border-radius: var(--radius-surface);

    transition-property: background-color, color, border-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  .blog-nav-list-title:hover {
    background-color: var(--clr-surface-2);
    /* color: var(--clr-primary); */
    border-color: var(--clr-primary);
  }

  .blog-nav-list-title:hover > .blog-nav-list-title-icon-wrapper {
    background-color: var(--clr-base);
    color: var(--clr-primary);
  }

  .blog-nav-list-title-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;
    height: 100%;

    background-color: var(--clr-mantle);
  }

  .blog-nav-list-title-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
  }

  .blog-nav-list-title-label {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 0.2rem;
  }

  .blog-nav-sublist {
    padding-inline: 1rem;
    padding-block: 1rem;

    font-size: 1rem;
  }

  .blog-nav-list {
    display: flex;
    gap: 1rem;
  }

  /*** Side Nav - Categories ***/

  .category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem 0.5rem;
  }

  /*** Side Nav - Tags ***/

  .tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.45rem 0.4rem;
  }

  .blog-nav-wrapper {
    position: relative;
  }

  .blog-nav-wrapper[data-appbar-revealed='false'],
  .blog-nav-wrapper[data-appbar-revealed='true'] {
    top: 0;
  }

  @media screen and (min-width: 768px) {
    .blog-nav-wrapper {
      position: sticky;

      transition: top 0.4s ease-in-out;
    }

    .blog-nav-wrapper[data-appbar-revealed='true'] {
      top: 5rem;
    }

    .blog-nav-wrapper[data-appbar-revealed='false'] {
      top: 1rem;
    }

    .blog-nav-list {
      flex-direction: column;
      align-items: start;

      font-size: 1.2rem;

      margin-left: auto;

      max-width: 18rem;
    }
  }
</style>

<aside
  class='blog-nav-wrapper'
  transition:name='post-direcotry-nav'>
  <nav class='blog-nav'>
    <ul class='blog-nav-list'>
      <li class='blog-nav-sublist-wrapper'>
        <a
          href='/blog/topics'
          class='blog-nav-list-title'>
          <span class='blog-nav-list-title-icon-wrapper'>
            <span class='blog-nav-list-title-icon bx bxs-bulb'></span>
          </span>
          <span class='blog-nav-list-title-label'>Topics</span>
        </a>
        <ul class='blog-nav-sublist topics-list'>
          {
            topics.map((topic) => (
              <li>
                <a href={`/blog/topics/${topic}`}>{topic}</a>
              </li>
            ))
          }
        </ul>
      </li>

      <li class='blog-nav-sublist-wrapper'>
        <a
          href='/blog/categories'
          class='blog-nav-list-title'>
          <span class='blog-nav-list-title-icon-wrapper'>
            <span class='blog-nav-list-title-icon bx bxs-category'></span>
          </span>
          <span class='blog-nav-list-title-label'>Categories</span>
        </a>
        <ul class='blog-nav-sublist category-list'>
          {
            categories.map((category) => (
              <li>
                <Chip url={`/blog/categories/${category}`}>{category}</Chip>
              </li>
            ))
          }
        </ul>
      </li>

      <li class='blog-nav-sublist-wrapper'>
        <a
          href='/blog/tags'
          class='blog-nav-list-title'>
          <span class='blog-nav-list-title-icon-wrapper'>
            <span class='blog-nav-list-title-icon bx bxs-tag'></span>
          </span>
          <span class='blog-nav-list-title-label'>Tags</span>
        </a>
        <ul class='blog-nav-sublist tags-list'>
          {
            tags.map((tag) => (
              <li>
                <Tag url={`/blog/tags/${tag}`}>{tag}</Tag>
              </li>
            ))
          }
        </ul>
      </li>
      <li>
        <a href='/blog/archive'>Archive</a>
      </li>
    </ul>
  </nav>
</aside>
