---
import { undefined } from 'astro:schema';

const { page } = Astro.props;

const hasPages = page.url.next !== undefined || page.url.prev !== undefined;
---

<style>
  a {
    text-decoration: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .page-nav-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    font-weight: 700;

    cursor: pointer;
  }

  .page-nav-icon-wrapper:hover {
    color: var(--clr-primary);
  }

  p.page-nav-icon-wrapper.disabled {
    color: var(--clr-subtext-0);
    opacity: 0.6;
    cursor: default;
  }

  .page-counter {
    outline: 1px solid var(--clr-surface-0);

    padding-block: 0.2rem;
    padding-inline: 1rem;

    border-radius: 999px;
    background-color: var(--clr-base);

    letter-spacing: 0.5ch;
  }

  .page-counter-label {
    margin-left: 0.2rem;
  }
</style>

{
  hasPages && (
    <nav
      class='page-nav'
      transition:animate='none'>
      {page.url.first ? (
        <a
          class='page-nav-icon-wrapper'
          href={page.url.first}>
          <i class='bx bx-chevrons-left' />
        </a>
      ) : (
        <p class='page-nav-icon-wrapper disabled'>
          <i class='bx bx-chevrons-left' />
        </p>
      )}
      {page.url.prev ? (
        <a
          class='page-nav-icon-wrapper'
          href={page.url.prev}>
          <i class='bx bx-chevron-left' />
        </a>
      ) : (
        <p class='page-nav-icon-wrapper disabled'>
          <i class='bx bx-chevron-left' />
        </p>
      )}
      <p class='page-counter'>
        <span class='page-counter-label'>
          {page.currentPage}/{page.lastPage}
        </span>
      </p>
      {page.url.next ? (
        <a
          class='page-nav-icon-wrapper'
          href={page.url.next}>
          <i class='bx bx-chevron-right' />
        </a>
      ) : (
        <p class='page-nav-icon-wrapper disabled'>
          <i class='bx bx-chevron-right' />
        </p>
      )}
      {page.url.last ? (
        <a
          class='page-nav-icon-wrapper'
          href={page.url.last}>
          <i class='bx bx-chevrons-right' />
        </a>
      ) : (
        <p class='page-nav-icon-wrapper disabled'>
          <i class='bx bx-chevrons-right' />
        </p>
      )}
    </nav>
  )
}
