---
import Heading from '@components/typography/Heading.astro';
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { fade } from 'astro:transitions';
import ReadMoreButton from './ReadMoreButton.astro';
import PostInfo from './PostInfo.astro';

type Props = {
  post: CollectionEntry<'blog'>;
  featured?: boolean;
};

const { post, featured = false } = Astro.props;
---

<style>
  /*** General ***/
  ul {
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0;
  }

  p {
    margin: 0;
  }

  header,
  footer,
  .blog-card-summary {
    padding-inline: 1rem;
  }

  .blog-card-wrapper {
    isolation: isolate;
    width: 100%;
  }

  .blog-card-wrapper[data-featured='true'] {
    margin-block: 1rem;
  }

  .blog-card {
    position: relative;

    background-color: var(--clr-base);
    border-radius: var(--radius-surface);
    /* outline: 1px solid var(--clr-surface-0); */

    width: 100%;

    overflow: hidden;
  }

  /*** Picture ***/

  .picture-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 2 / 1;

    overflow: hidden;
  }

  .blog-picture {
    position: absolute;
    left: 0;
    top: 0;

    object-fit: cover;
    width: 100%;
    height: 100%;

    transition: scale 0.25s ease-in-out;
  }

  .blog-picture:hover {
    scale: 1.025;
  }

  /*** Picture Overlay Info ***/

  .post-info-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    padding-inline: 1rem;

    backdrop-filter: blur(10px);

    /* border-top: 1px solid var(--clr-surface-0); */

    z-index: 10;
  }

  .post-info-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--clr-base);
    opacity: 0.8;

    z-index: -1;
  }

  .post-info-wrapper[data-has-picture='false'] {
    position: relative;
    bottom: auto;
    left: auto;

    backdrop-filter: none;
    /* border-top: none; */
  }

  .post-info-wrapper[data-has-picture='false']::before {
    background-color: transparent;
  }

  /*** Card Body ***/

  .content-wrapper {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 4rem;

    width: 100%;
    min-height: 10rem;
  }

  .card-title-wrapper {
    grid-column-start: 1;

    font-size: 1.6rem;
    padding-inline: 1rem;
    margin: 0;
    margin-top: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .blog-card-summary {
    grid-column-start: 1;

    color: var(--clr-subtext-0);

    margin-top: 0.8rem;
    margin-bottom: 1.5rem;

    height: fit-content;

    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  .btn-read-more-wrapper {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;

    display: flex;

    height: 100%;
    flex-shrink: 0;

    padding: 1rem;
  }

  .post-info-wrapper {
    animation: fadeIn 0.15s ease-in forwards;
    animation-delay: 0.2s;
    opacity: 0;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /*** Featured Label ***/
  div.featured-label-wrapper {
    isolation: isolate;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.6ch;

    padding-inline: 1rem;
    padding-block: 0.4rem;

    margin-top: 1.5rem;

    border-radius: 0 var(--radius-pill) var(--radius-pill) 0;

    z-index: 5;

    backdrop-filter: blur(10px);

    overflow: hidden;
  }

  div.featured-label-wrapper::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: var(--clr-base);

    opacity: 0.9;

    z-index: -1;
  }

  p.featured-label {
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
  }

  .featured-icon {
    color: var(--clr-yellow);
  }

  @media screen and (max-width: 768px) {
    .picture-wrapper {
      min-height: 20rem;
      aspect-ratio: auto;
    }
  }
</style>

<div class='blog-card-wrapper'>
  <article class='blog-card'>
    {
      post.data.cover ? (
        <div class='picture-wrapper'>
          {featured && (
            <div class='featured-label-wrapper'>
              <i class='featured-icon bx bxs-star' />
              <p class='featured-label'>Featured</p>
            </div>
          )}
          <div class='post-info-wrapper'>
            <PostInfo
              post={post}
              transition:animate={fade({ duration: '2s' })}
            />
          </div>
          <a href={`/blog/${post.slug}`}>
            <Picture
              width={400}
              height={200}
              src={post.data.cover}
              alt={post.data.cover_alt ? post.data.cover_alt : ''}
              class='blog-picture'
              loading={'eager'}
              transition:name={`blog-cover-${post.data.title}`}
            />
          </a>
        </div>
      ) : (
        <div
          class='post-info-wrapper'
          data-has-picture='false'>
          <PostInfo post={post} />
        </div>
      )
    }

    <div class='content-wrapper'>
      <div class='card-title-wrapper'>
        <Heading
          level={3}
          size='l2x'
          type={featured ? 'title' : 'heading'}
          textOverflow='ellipsis'
          url={`/blog/${post.slug}`}
          transition:name={`blog-title-${post.data.title}`}>
          {post.data.title}
        </Heading>
      </div>

      <p class='blog-card-summary'>
        {post.data.summary}
      </p>

      <div class='btn-read-more-wrapper'>
        <ReadMoreButton url={`/blog/${post.slug}`} />
      </div>
    </div>
  </article>
</div>
