---
import Heading from '@components/typgraphy/Heading.astro';

interface Props {
  title: string;
  postsCount: number;
  topicsCount: number;
  categoriesCount: number;
  tagsCount: number;
  url: string;
  cardType: 'topic' | 'category' | 'tag';
}

const {
  title,
  postsCount,
  topicsCount,
  categoriesCount,
  tagsCount,
  url,
  cardType,
} = Astro.props;
---

<style>
  .card {
    background-color: var(--clr-base);

    border-radius: var(--radius-surface);

    padding-inline: 1.2rem;
    padding-block: 1.2rem;

    box-shadow: 4px 12px 16px rgba(0, 0, 0, 0.1);
  }

  h3.card-title {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
  }

  ul.card-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    width: 100%;
    

    list-style-type: none;
    padding: 0;

    /* margin-top: 0.6rem;
    margin-bottom: 0.6rem; */
  }

  ul.card-list > li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6ch;

    /* background-color: var(--clr-mantle); */

    border-radius: var(--radius-surface);
  }

  .card-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  .posts-count-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
  }
  
  .posts-count-icon {
    font-size: 2.6rem;
    color: var(--clr-text);
    /* opacity: 0.6; */
  }

  .posts-count {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .posts-count-label {
    font-size: 0.9rem;
    color: var(--clr-subtext-1);
  }

  .card-body-wrapper {
    display: flex;
    align-items: center;
    /* margin-top: 0rem; */
  }

  .count-label-wrapper {
    display: flex;
    flex-direction: column;
  }

  .count {
    font-size: 1rem;
    font-weight: 500;
  }

  .count-label {
    font-size: 0.75rem;
    color: var(--clr-subtext-0);
  }

  .count-icon {
    font-size: 1.6rem;
    color: var(--clr-subtext-0);
    opacity: 0.6;
  }


  a.view-posts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    background-color: var(--clr-mantle);

    padding-inline: 1rem;
    padding-block: 0.6rem;

    border-radius: var(--radius-input);

    outline: 1px solid var(--clr-surface-0);

    text-decoration: none;

    max-width: fit-content;
    height: fit-content;

    transition-property: background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a.view-posts-link:hover {
    background-color: var(--clr-surface-0);
    outline: 1px solid var(--clr-surface-1);
  }

  .view-posts-link-label {
    font-size: 1rem;
    font-weight: 600;
  }

  .view-posts-link-icon {
    font-size: 1rem;
  }
</style>

<article class='card'>
  <div class='card-header-wrapper'>
    <Heading
      class='card-title'
      level={3}
      >{title}</Heading
    >

    <div class='posts-count-wrapper'>
      <span class='posts-count-icon bx bxs-spreadsheet'></span>
      <p class='count-label-wrapper'>
        <span class='posts-count'>{postsCount}</span>
        <span class='posts-count-label'>Posts</span>
      </p>
    </div>
  </div>

  <div class="card-body-wrapper">
    <ul class='card-list'>
      {
        cardType === 'topic' && (
          <li>
            <span class='count-icon bx bxs-tag-alt'/>
            <p class='count-label-wrapper'>
              <span class='count'>{tagsCount}</span>
              <span class='count-label'>Tags</span>
            </p>
          </li>
  
          <li>
            <i class='count-icon bx bxs-category'></i>
            <p class='count-label-wrapper'>
              <span class='count'>{categoriesCount}</span>
              <span class='count-label'>Categories</span>
            </p>
          </li>
        )
      }
  
    {
      cardType === 'category' && (
        <li>
          <span class='count-icon bx bxs-tag-alt'/>
          <p class='count-label-wrapper'>
            <span class='count'>{tagsCount}</span>
            <span class='count-label'>Tags</span>
          </p>
        </li>
        <li>
          <span class='count-icon bx bxs-bulb'></span>
          <p class='count-label-wrapper'>
            <span class='count'>{topicsCount}</span>
            <span class='count-label'>Topics</span>
          </p>
        </li>
      )
    }
  
    {
      cardType === 'tag' && (
        <li>
          <span class='count-icon bx bxs-category'/>
          <p class='count-label-wrapper'>
            <span class='count'>{categoriesCount}</span>
            <span class='count-label'>Categories</span>
          </p>
        </li>
        <li>
          <span class='count-icon bx bxs-bulb'/>
          <p class='count-label-wrapper'>
            <span class='count'>{topicsCount}</span>
            <span class='count-label'>Topics</span>
          </p>
        </li>
      )
    }
    </ul>

    <a
      href={url}
      class='view-posts-link'>
      <span class='view-posts-link-label'> View Posts </span>
      <i class='view-posts-link-icon bx bxs-right-arrow-alt'></i>
    </a>
  </div>
</article>
