---
import Heading from '@components/typography/Heading.astro';

interface Props {
  title: string;
  postsCount: number;
  topicsCount: number;
  categoriesCount: number;
  tagsCount: number;
  url: string;
  cardType: 'topic' | 'category' | 'tag';
}

const {
  title,
  postsCount,
  topicsCount,
  categoriesCount,
  tagsCount,
  url,
  cardType,
} = Astro.props;
---

<style>
  .card {
    background-color: var(--clr-base);

    border-radius: var(--radius-surface);

    overflow: hidden;

    outline: 1px solid var(--clr-surface-0);

    /* padding-inline: 1.2rem; */
    /* padding-block: 1.2rem; */

    /* box-shadow: 4px 12px 16px rgba(0, 0, 0, 0.1); */
  }

  ul.card-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    width: 100%;

    list-style-type: none;
    padding: 0;

    /* margin-top: 0.6rem;
    margin-bottom: 0.6rem; */
  }

  ul.card-list > li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6ch;

    /* background-color: var(--clr-mantle); */

    border-radius: var(--radius-surface);
  }

  .card-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding-inline: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .posts-count-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
  }

  .posts-count-icon {
    font-size: 1.4rem;
    color: var(--clr-text);
    margin-right: 0.25ch;
    /* opacity: 0.6; */
  }

  .posts-count {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .posts-count-label {
    font-size: 0.9rem;
    color: var(--clr-subtext-1);
  }

  .card-body-wrapper {
    display: flex;
    align-items: center;

    background-color: var(--clr-mantle);
    margin-top: 1rem;
    padding-inline: 1rem;
    padding-block: 0.6rem;
  }

  .count-label-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .count {
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--clr-subtext-0);
  }

  .count-label {
    font-size: 0.7rem;
    color: var(--clr-subtext-0);
  }

  .count-icon {
    font-size: 1.2rem;
    color: var(--clr-subtext-0);
  }

  a.view-posts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    background-color: var(--clr-mantle);

    padding-inline: 1rem;
    padding-block: 0.6rem;

    border-radius: var(--radius-input);

    outline: 1px solid var(--clr-surface-0);

    text-decoration: none;

    max-width: fit-content;
    height: fit-content;

    transition-property: background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a.view-posts-link:hover {
    background-color: var(--clr-surface-0);
    outline: 1px solid var(--clr-surface-1);
  }

  a.view-posts-link > p {
    padding: 0;
    margin: 0;
  }

  a.view-posts-link:hover > p,
  a.view-posts-link:hover > .posts-count-icon {
    color: var(--clr-primary);
  }

  .view-posts-link-label {
    font-size: 1rem;
    font-weight: 600;
  }
</style>

<article class='card'>
  <div class='card-header-wrapper'>
    <Heading
      size='l2x'
      level={3}
      >{title}</Heading
    >
    <a
      href={url}
      class='view-posts-link'
      title=`View all ${title.toLowerCase()} posts`>
      <span class='posts-count-icon bx bxs-spreadsheet'></span>
      <p class='view-posts-link-label'>
        <span>View </span>
        <span>{postsCount}</span>
        <span>{postsCount === 1 ? ' Post' : ' Posts'}</span>
      </p>
    </a>
  </div>

  <div class='card-body-wrapper'>
    <ul class='card-list'>
      {
        cardType === 'topic' && (
          <>
            <li>
              <span class='count-icon ri-price-tag-3-fill' />
              <p class='count-label-wrapper'>
                <span class='count'>{tagsCount}</span>
                <span class='count-label'>
                  {tagsCount === 1 ? 'Tag' : 'Tags'}
                </span>
              </p>
            </li>

            <li>
              <i class='count-icon ri-apps-2-fill' />
              <p class='count-label-wrapper'>
                <span class='count'>{categoriesCount}</span>
                <span class='count-label'>
                  {categoriesCount === 1 ? 'Category' : 'Categories'}
                </span>
              </p>
            </li>
          </>
        )
      }

      {
        cardType === 'category' && (
          <>
            <li>
              <span class='count-icon ri-price-tag-3-fill' />
              <p class='count-label-wrapper'>
                <span class='count'>{tagsCount}</span>
                <span class='count-label'>
                  {tagsCount === 1 ? 'Tag' : 'Tags'}
                </span>
              </p>
            </li>
            <li>
              <span class='count-icon ri-lightbulb-fill' />
              <p class='count-label-wrapper'>
                <span class='count'>{topicsCount}</span>
                <span class='count-label'>
                  {topicsCount === 1 ? 'Topic' : 'Topics'}
                </span>
              </p>
            </li>
          </>
        )
      }

      {
        cardType === 'tag' && (
          <>
            <li>
              <span class='count-icon ri-apps-2-fill' />
              <p class='count-label-wrapper'>
                <span class='count'>{categoriesCount}</span>
                <span class='count-label'>
                  {categoriesCount === 1 ? 'Category' : 'Categories'}
                </span>
              </p>
            </li>
            <li>
              <span class='count-icon ri-lightbulb-fill' />
              <p class='count-label-wrapper'>
                <span class='count'>{topicsCount}</span>
                <span class='count-label'>
                  {topicsCount === 1 ? 'Topic' : 'Topics'}
                </span>
              </p>
            </li>
          </>
        )
      }
    </ul>
  </div>
</article>
