---
import Heading from '@components/typgraphy/Heading.astro';

interface Props {
  title: string;
  postsCount: number;
  topicsCount: number;
  categoriesCount: number;
  tagsCount: number;
  url: string;
  cardType: 'topic' | 'category' | 'tag';
}

const { title, postsCount, topicsCount, categoriesCount, tagsCount, url, cardType } =
  Astro.props;
---

<style>
  .card {
    background-color: var(--clr-base);

    border-radius: var(--radius-surface);

    padding: 1rem;
  }

  h3.card-title {
    font-size: 1.4rem;
  }

  .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    list-style-type: none;
    padding: 0;

    margin-top: 1rem;
    margin-bottom: 1.4rem;
  }

  .card-list > li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4ch;

    background-color: var(--clr-mantle);

    border-radius: var(--radius-surface);
  }

  .count-wrapper {
    display: flex;
    flex-direction: column;
  }

  .count {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .count-label {
    font-size: 0.75rem;
    color: var(--clr-subtext-0);
  }

  .count-icon {
    font-size: 2rem;
    color: var(--clr-subtext-0);
    opacity: 0.6;
  }

  a.view-posts-link {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-mantle);

    padding-inline: 1rem;
    padding-block: 0.6rem;

    border-radius: var(--radius-input);

    outline: 1px solid var(--clr-surface-0);

    text-decoration: none;

    transition-property: background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a.view-posts-link:hover {
    background-color: var(--clr-surface-0);
    outline: 1px solid var(--clr-surface-1);
  }

  .view-posts-link-label {
    font-size: 1rem;
    font-weight: 600;
  }

  .view-posts-link-icon {
    font-size: 1rem;
  }
</style>

<article class='card'>
  <Heading
    class='card-title'
    level={3}
    >{title}</Heading
  >
  <ul class='card-list'>
    <li>
      <i class='count-icon bx bxs-spreadsheet'></i>
      <p class='count-wrapper'>
        <span class='count'>{postsCount}</span>
        <span class='count-label'>Posts</span>
      </p>
    </li>
    {
      cardType === 'topic' && (
        <li>
          <i class='count-icon bx bxs-tag'></i>
          <p class='count-wrapper'>
            <span class='count'>{tagsCount}</span>
            <span class='count-label'>Tags</span>
          </p>
        </li>
        <li>
          <i class='count-icon bx bxs-category'></i>
          <p class='count-wrapper'>
            <span class='count'>{categoriesCount}</span>
            <span class='count-label'>Categories</span>
          </p>
        </li>
      )
    }

  {
    cardType === 'category' && (
      <li>
        <i class='count-icon bx bxs-tag'></i>
        <p class='count-wrapper'>
          <span class='count'>{tagsCount}</span>
          <span class='count-label'>Tags</span>
        </p>
      </li>
      <li>
        <i class='count-icon bx bxs-bulb'></i>
        <p class='count-wrapper'>
          <span class='count'>{topicsCount}</span>
          <span class='count-label'>Topics</span>
        </p>
      </li>
    )
  }

  {
    cardType === 'tag' && (
      <li>
        <i class='count-icon bx bxs-category'></i>
        <p class='count-wrapper'>
          <span class='count'>{categoriesCount}</span>
          <span class='count-label'>Categories</span>
        </p>
      </li>
      <li>
        <i class='count-icon bx bxs-bulb'></i>
        <p class='count-wrapper'>
          <span class='count'>{topicsCount}</span>
          <span class='count-label'>Topics</span>
        </p>
      </li>
    )
  }
  </ul>
  <a
    href={url}
    class='view-posts-link'>
    <span class='view-posts-link-label'> View Posts </span>
    <i class='view-posts-link-icon bx bxs-right-arrow-alt'></i>
  </a>
</article>
