---
import HeroLink from './HeroLink.astro';
import links from '@content/links.json';
import HeroLinkContainer from './HeroLinkContainer.astro';

const internalLinks = links.internalLinks.filter((link) => {
  if (link.url === '/') return false;
  else return true;
});

const socialLinks = links.socialLinks;
const workLinks = links.workLinks;
---

<style>
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  ul {
    width: 100%;

    padding: 0;

    list-style: none;
  }

  li {
    width: 100%;
  }

  .links-nav {
    /* gap: 2rem; */
  }

  .link-list-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .link-list-title-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  }

  .link-list-title-hr {
    align-self: center;

    width: 100%;
    height: 2px;

    background-color: var(--clr-surface-1);
  }

  .link-list-title {
    text-align: center;
    justify-self: center;
    margin: 0;

    padding-inline: 1rem;

    font-size: 1.4rem;
    font-weight: 600;

    width: 100%;
  }

  @media screen and (min-width: 768px) {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .link-list-title-wrapper {
      display: flex;
      align-items: start;
      justify-content: center;
    }

    .link-list-title-hr-left {
      display: none;
    }

    .link-list-title {
      text-align: start;
      padding: 0;
      padding-right: 1.2rem;
      width: fit-content;
      flex-shrink: 0;
    }
  }
</style>

<div class='links-nav'>
  <!-- <div class='link-list-wrapper'>
    <div class='link-list-title-wrapper'>
      <div class='link-list-title-hr link-list-title-hr-left'></div>
      <h3 class='link-list-title'>Explore My Site</h3>
      <div class='link-list-title-hr'></div>
    </div>
    <ul>
      {
        internalLinks.map((link) => (
          <li>
            <HeroLink
              url={link.url}
              label={link.label}
              iconClass={link.iconClass}
              newTab={false}
            />
          </li>
        ))
      }
    </ul>
  </div>

  <div class='link-list-wrapper'>
    <div class='link-list-title-wrapper'>
      <div class='link-list-title-hr link-list-title-hr-left'></div>
      <h3 class='link-list-title'>Discover My Work</h3>
      <div class='link-list-title-hr'></div>
    </div>
    <ul>
      {
        workLinks.map((link) => (
          <li>
            <HeroLink
              url={link.url}
              label={link.label}
              iconClass={link.iconClass}
            />
          </li>
        ))
      }
    </ul>
  </div> -->

  <div class='link-list-wrapper'>
    <!-- <div class='link-list-title-wrapper'>
      <div class='link-list-title-hr link-list-title-hr-left'></div>
      <h3 class='link-list-title'>Connect with Me</h3>
      <div class='link-list-title-hr'></div>
    </div>
    <ul>
      {
        socialLinks.map((link) => (
          <li>
            <HeroLink
              url={link.url}
              label={link.label}
              iconClass={link.iconClass}
            />
          </li>
        ))
      }
    </ul> -->
    <HeroLinkContainer
      internalLink={true}
      links={internalLinks}
      title='Explore My Site'
    />

    <HeroLinkContainer
      internalLink={false}
      links={workLinks}
      title='Discover My Work'
    />

    <HeroLinkContainer
      internalLink={false}
      links={socialLinks}
      title='Connect with Me'
    />
  </div>
</div>
