---
import links from '@content/links.json';

const filteredInternalLinks = links.internalLinks.filter(
  (link) => link.url !== '/'
);
---

<style>
  ul.link-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    width: fit-content;

    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 0;
  }

  a.link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6ch;

    padding-inline: 1rem;
    padding-block: 0.6rem;

    background-color: var(--clr-base);

    outline: 1px solid var(--clr-surface-0);
    border-radius: var(--radius-input);

    text-decoration: none;

    transition-property: color, background-color, outline;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.link-item:hover {
    background-color: var(--clr-surface-0);
    outline: 1px solid var(--clr-surface-1);
    color: var(--clr-primary);
  }

  @media screen and (max-width: 768px) {
    ul.link-list {
      display: flex;
      flex-direction: column;

      width: 100%;
    }

    li {
      width: 100%;
    }

    a.link-item {
      width: 100%;

      font-size: 1.4rem;
    }
  }
</style>

<ul class='link-list'>
  {
    filteredInternalLinks.map((linkItem) => (
      <li class='link-list-item'>
        {linkItem.internal === 'true' ? (
          <a
            class='link-item'
            href={linkItem.url}>
            <span class={`${linkItem.iconClass}`} />
            <span>{linkItem.label}</span>
          </a>
        ) : (
          <a
            class='link-item'
            href={linkItem.url}
            target='_blank'
            rel='noopener noreferrer'>
            <span class={`${linkItem.iconClass}`} />
            <span>{linkItem.label}</span>
          </a>
        )}
      </li>
    ))
  }
</ul>
