---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostCard from '../../components/BlogPostCard.astro';

import lightBgImage from '../../images/blog_bg/pexels-eberhardgross.jpg';
import darkBgImage from '../../images/blog_bg/pexels-therato.jpg';
import { Image } from 'astro:assets';

const allPosts = await getCollection('blog');

const title = 'Blog';
---

<style>
  /* *** General *** */
  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style: none;
  }

  li {
    display: flex;

    padding: 0;
  }

  .blog-bg-image-wrapper {
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;
    margin-top: -16rem;

    width: 100vw;
    max-height: 38rem;

    overflow: hidden;

    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  }

  .blog-bg-img-dark,
  .blog-bg-img-light {
    isolation: isolate;

    opacity: 1;
    display: flex;

    transition-property: opacity, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .blog-bg-img-dark::before,
  .blog-bg-img-light::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
  }

  .blog-bg-img-dark::before {
    background-color: var(--clr-overlay-2);
    mix-blend-mode: multiply;
  }

  .blog-bg-img-light::before {
    background-color: var(--clr-base);
    opacity: 50%;
    mix-blend-mode: color;
  }

  .blog-bg-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* *** Blog Topics Navigation *** */

  .blog-topics-nav {
    grid-column: span 2;
    margin-bottom: 4rem;
  }

  .blog-topics-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    background-color: var(--clr-base);

    padding: 1rem;

    border: 1px solid var(--clr-surface-0);
    border-radius: var(--radius-wrapper);
  }

  /* *** Blog Side Navigation *** */

  .blog-nav-list-title {
    display: flex;
    align-items: center;
    justify-content: start;

    gap: 0.6rem;

    font-weight: 500;

    background-color: var(--clr-mantle);

    width: 100%;
    padding: 1rem;
  }

  .blog-nav-sublist-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;

    background-color: var(--clr-base);
    width: 100%;

    border-radius: var(--radius-wrapper);
    border: 1px solid var(--clr-surface-0);
  }

  .blog-nav-sublist {
    padding-inline: 1rem;
    padding-block: 1rem;
  }

  .blog-nav-list {
    display: flex;
    gap: 1rem;
  }

  /*** Side Nav - Categories ***/

  .category-list {
    display: flex;
    gap: 0.6rem;
  }

  /*** Side Nav - Tags ***/

  .tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 0.6rem;
  }

  .blog-tag {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-surface-0);

    padding-inline: 1em;
    padding-block: 0.2rem;

    border-radius: var(--radius-pill);

    text-transform: lowercase;
  }

  /* *** Blog Post Cards *** */

  .blog-post-cards-wrapper {
    width: 100%;
  }

  .blog-post-cards-list {
    display: flex;
    gap: 1rem;

    width: 100%;
  }

  /* *** Utility *** */

  .wrapper {
    margin-top: 14rem;

    padding-inline: 1rem;

    width: 100%;
  }

  .blog-bg-img-dark[data-active='true'] {
    visibility: visible;
    opacity: 1;
  }

  .blog-bg-img-dark[data-active='false'] {
    visibility: hidden;
    opacity: 0;
  }

  .blog-bg-img-light[data-active='true'] {
    visibility: visible;

    opacity: 1;
  }

  .blog-bg-img-light[data-active='false'] {
    visibility: hidden;

    opacity: 0;
  }
  @media screen and (min-width: 768px) {
    .blog-bg-image-wrapper {
      max-height: 36rem;
      margin-top: -2rem;
    }

    .page-title {
      grid-column: span 2;
    }

    /* *** Blog Post Cards *** */

    .blog-post-cards-list {
      padding-right: 1rem;
    }

    .blog-nav-list {
      flex-direction: column;
      align-items: start;

      font-size: 1.2rem;

      margin-left: auto;

      max-width: 18rem;
    }

    /* *** Utility *** */

    .wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: start;
      margin-top: 18rem;
    }
  }
</style>

<BaseLayout title={title}>
  <div
    data-active='true'
    class='blog-bg-image-wrapper blog-bg-img-dark'>
    <Image
      src={darkBgImage}
      alt='Landscape'
      class='blog-bg-image'
      decoding='async'
      loading='lazy'
      width={2560}
      height={1200}
    />
  </div>

  <div
    data-active='false'
    class='blog-bg-image-wrapper blog-bg-img-light'>
    <Image
      src={lightBgImage}
      alt='Landscape'
      class='blog-bg-image'
      decoding='async'
      loading='lazy'
      width={2560}
      height={1200}
    />
  </div>
  <div class='wrapper max-width'>
    <h1 class='page-title'>Blog</h1>
    <nav class='blog-topics-nav'>
      <ul class='blog-topics-list'>
        <li class='blog-topics-list-item'>
          <a
            class='blog-topics-link'
            href='#'
            >Topic 1</a
          >
        </li>
        <li class='blog-topics-list-item'>
          <a
            class='blog-topics-link'
            href='#'
            >Topic 2</a
          >
        </li>
        <li class='blog-topics-list-item'>
          <a
            class='blog-topics-link'
            href='#'
            >Topic 3</a
          >
        </li>
        <li class='blog-topics-list-item'>
          <a
            class='blog-topics-link'
            href='#'
            >Topic 4</a
          >
        </li>
        <li class='blog-topics-list-item'>
          <a
            class='blog-topics-link'
            href='#'
            >Topic 5</a
          >
        </li>
      </ul>
    </nav>
    <section class='blog-post-cards-wrapper'>
      <ul class='blog-post-cards-list'>
        {
          allPosts.map((post) => (
            <li>
              <BlogPostCard
                url={`/blog/${post.slug}`}
                title={post.data.title}
                summary={post.data.summary}
                tags={post.data.tags}
              />
            </li>
          ))
        }
      </ul>
    </section>
    <aside>
      <nav class='blog-nav'>
        <ul class='blog-nav-list'>
          <li class='blog-nav-sublist-wrapper'>
            <a
              href='/blog/categories'
              class='blog-nav-list-title'>
              <span class='bx bxs-category'></span>
              <span>Categories</span>
            </a>
            <ul class='blog-nav-sublist category-list'>
              <li>Category 1</li>
              <li>Category 2</li>
              <li>Category 3</li>
            </ul>
          </li>
          <li class='blog-nav-sublist-wrapper'>
            <a
              href='/blog/tags'
              class='blog-nav-list-title'>
              <span class='bx bxs-tag'></span>
              <span>Tags</span>
            </a>
            <ul class='blog-nav-sublist tags-list'>
              <li class='blog-tag'>Tag 1</li>
              <li class='blog-tag'>Tag 2</li>
              <li class='blog-tag'>Tag 3</li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</BaseLayout>
