---
type Props = {
  type?: 'heading' | 'title' | 'subtitle';
  level?: 1 | 2 | 3 | 4 | 5 | 6;
  url?: string;
  textOverflow?: '' | 'ellipsis';
  capitalize?: boolean;
  class?: string;
};

const {
  type = 'heading',
  level = 2,
  url,
  textOverflow = '',
  capitalize = true,
  class: className,
  ...rest
} = Astro.props;

const HeadingElement =
  type != 'subtitle'
    ? (`h${level}` as const satisfies keyof HTMLElementTagNameMap)
    : `p`;
---

<style>
  a {
    text-decoration: none;
  }

  a > .heading,
  a > .title,
  a > .subtitle {
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a:hover > .heading,
  a:hover > .title,
  a:hover > .subtitle {
    color: var(--clr-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 1rem;
  }

  a[data-text-overflow='ellipsis'],
  p[data-text-overflow='ellipsis'],
  h1[data-text-overflow='ellipsis'],
  h2[data-text-overflow='ellipsis'],
  h3[data-text-overflow='ellipsis'],
  h4[data-text-overflow='ellipsis'],
  h5[data-text-overflow='ellipsis'],
  h6[data-text-overflow='ellipsis'] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [data-capitalize] {
    text-transform: capitalize;
  }

  /*** Title ***/

  h1.title,
  h2.title,
  h3.title,
  h4.title,
  h5.title,
  h6.title {
    color: var(--clr-text);
  }

  h1.title {
    font-size: 2.4rem;
  }

  h2.title {
    font-size: 2.4rem;
  }

  h3.title {
    font-size: 2.4rem;
  }

  h4.title {
    font-size: 2.4rem;
  }

  h5.title {
    font-size: 2.4rem;
  }

  h6.title {
    font-size: 2.4rem;
  }

  /*** Heading ***/

  h1.heading,
  h2.heading,
  h3.heading,
  h4.heading,
  h5.heading,
  h6.heading {
    color: var(--clr-text);
  }

  h1.heading {
    font-size: 1.8rem;
  }

  h2.heading {
    font-size: 1.6rem;
  }

  h3.heading {
    font-size: 1.4rem;
  }

  h4.heading {
    font-size: 1rem;
  }

  h5.heading {
    font-size: 0.8rem;
  }

  h6.heading {
    font-size: 0.7rem;
  }

  /*** Subtitle ***/

  p.subtitle,
  p.subtitle,
  p.subtitle,
  p.subtitle,
  p.subtitle,
  p.subtitle {
    color: var(--clr-subtext-1);
  }

  p.subtitle[data-level='1'] {
    font-size: 1.8rem;
  }

  p.subtitle[data-level='2'] {
    font-size: 1.4rem;
  }

  p.subtitle[data-level='3'] {
    font-size: 1.2rem;
  }

  p.subtitle[data-level='4'] {
    font-size: 1rem;
  }

  p.subtitle[data-level='5'] {
    font-size: 0.85rem;
  }

  p.subtitle[data-level='6'] {
    font-size: 0.75rem;
  }
</style>

{
  url ? (
    <a href={url}>
      <HeadingElement
        class={`${className} ${type}`}
        data-text-overflow={textOverflow}
        data-level={level}
        data-capitalize={capitalize}
        {...rest}>
        <slot />
      </HeadingElement>
    </a>
  ) : (
    <HeadingElement
      class={`${className} ${type}`}
      data-text-overflow={textOverflow}
      data-level={level}
      data-capitalize={capitalize}
      {...rest}>
      <slot />
    </HeadingElement>
  )
}
