---
type Props = {
  type?: 'heading' | 'title' | 'subtitle';
  level?: 1 | 2 | 3 | 4 | 5 | 6;
  size?:
    | 'sx'
    | 'sm'
    | 'md'
    | 'lg'
    | 'lx'
    | 'l2x'
    | 'l3x'
    | 'l4x'
    | 'l5x'
    | 'l6x'
    | 'l7x'
    | 'l8x'
    | 'l9x';
  url?: string;
  textOverflow?: '' | 'ellipsis';
  capitalize?: boolean;
};

const {
  type = 'heading',
  level = 2,
  size = 'md',
  url,
  textOverflow = '',
  capitalize = true,
} = Astro.props;

const HeadingElement =
  type != 'subtitle'
    ? (`h${level}` as const satisfies keyof HTMLElementTagNameMap)
    : `p`;
---

<style>
  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  a > .heading,
  a > .title,
  a > .subtitle {
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a:hover > .heading,
  a:hover > .title,
  a:hover > .subtitle {
    color: var(--clr-primary);
  }

  a[data-text-overflow='ellipsis'],
  p[data-text-overflow='ellipsis'],
  h1[data-text-overflow='ellipsis'],
  h2[data-text-overflow='ellipsis'],
  h3[data-text-overflow='ellipsis'],
  h4[data-text-overflow='ellipsis'],
  h5[data-text-overflow='ellipsis'],
  h6[data-text-overflow='ellipsis'] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [data-capitalize] {
    text-transform: capitalize;
  }

  /*** Title ***/

  h1.title,
  h2.title,
  h3.title,
  h4.title,
  h5.title,
  h6.title {
    color: var(--clr-text);
  }

  .sx {
    font-size: 0.75rem;
  }

  .sm {
    font-size: 0.875rem;
  }

  .md {
    font-size: 1rem;
  }

  .lg {
    font-size: 1.125rem;
  }

  .lx {
    font-size: 1.25rem;
  }

  .l2x {
    font-size: 1.5rem;
  }

  .l3x {
    font-size: 1.875rem;
  }

  .l4x {
    font-size: 2.25rem;
  }

  .l5x {
    font-size: 3rem;
  }

  .l6x {
    font-size: 3.75rem;
  }

  .l7x {
    font-size: 4.5rem;
  }

  .l8x {
    font-size: 6rem;
  }

  .l9x {
    font-size: 8rem;
  }

  /*** Heading ***/

  h1.heading,
  h2.heading,
  h3.heading,
  h4.heading,
  h5.heading,
  h6.heading {
    color: var(--clr-text);
  }

  /*** Subtitle ***/

  p.subtitle,
  p.subtitle,
  p.subtitle,
  p.subtitle,
  p.subtitle,
  p.subtitle {
    color: var(--clr-subtext-1);
  }
</style>

{
  url ? (
    <a href={url}>
      <HeadingElement
        class={`${type} ${size}`}
        data-text-overflow={textOverflow}
        data-level={level}
        data-capitalize={capitalize}>
        <slot />
      </HeadingElement>
    </a>
  ) : (
    <HeadingElement
      class={`${type} ${size}`}
      data-text-overflow={textOverflow}
      data-level={level}
      data-capitalize={capitalize}>
      <slot />
    </HeadingElement>
  )
}
