---
import { getCollection } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const uniqueCategories = [
    ...new Set(allPosts.map((post) => post.data.category).flat()),
  ];

  return uniqueCategories.map((category) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.category.includes(category)
    );
    return {
      params: { category },
      props: { posts: filteredPosts },
    };
  });
}

const { category } = Astro.params;
const { posts } = Astro.props;
---

<style>
  ol,
  ul {
    display: flex;
    padding: 0;
    list-style: none;
  }

  p {
    margin: 0;
  }

  section {
    width: 100%;
    padding-inline: 1rem;
  }

  div.timeline-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: var(--clr-base);
  }

  /*** Timeline List ***/

  ol.timeline-list {
    display: flex;
    gap: 2.5rem;
    min-width: 24rem;
  }

  li.timeline-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  p.timeline-list-title {
    font-size: 2rem;
    font-weight: 700;
  }

  p.timeline-list-post-count {
    align-self: center;

    color: var(--clr-subtext-1);
    font-size: 1rem;
    font-weight: 400;
  }

  /*** Date List ***/

  ol.date-list {
    display: flex;
    grid-column: span 2;
    gap: 2rem;
  }

  li.date-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  /*** Post List ***/

  p.post-list-title {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--clr-subtext-0);
  }

  ol.post-list {
    width: 100%;
  }

  li.post-list-item {
  }

  a.post-list-item-link {
    font-size: 1.2rem;
    font-weight: 600;
  }
</style>

<BaseLayout pageTitle={category}>
  <!-- <p>Posts within {category}</p>
  <ul>
    {posts.map((post) => <a href={`/blog/${post.slug}/`}>{post.data.title}</a>)}
  </ul> -->

  <section class='max-width'>
    <h1>{category}</h1>
    <div class='timeline-list-wrapper'>
      <ol class='timeline-list'>
        <li class='timeline-list-item'>
          <p class='timeline-list-title'>2024</p>
          <p class='timeline-list-post-count'>
            <span class='post-count-label'>0</span><span> Posts</span>
          </p>
          <ol class='date-list'>
            <li class='date-list-item'>
              <p class='post-list-title'>12/01</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 2</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 3</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>11/04</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>09/23</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>02/19</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li class='timeline-list-item'>
          <p class='timeline-list-title'>2023</p>
          <p class='timeline-list-post-count'>
            <span class='post-count-label'>0</span><span> Posts</span>
          </p>
          <ol class='date-list'>
            <li class='date-list-item'>
              <p class='post-list-title'>12/01</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 2</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 3</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>11/04</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>09/23</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>02/19</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li class='timeline-list-item'>
          <p class='timeline-list-title'>2022</p>
          <p class='timeline-list-post-count'>
            <span class='post-count-label'>0</span><span> Posts</span>
          </p>
          <ol class='date-list'>
            <li class='date-list-item'>
              <p class='post-list-title'>12/01</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 2</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 3</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>11/04</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>09/23</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>02/19</p>
              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </section>
</BaseLayout>
