---
import { getCollection } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const uniqueCategories = [
    ...new Set(allPosts.map((post) => post.data.category).flat()),
  ];

  return uniqueCategories.map((category) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.category.includes(category)
    );
    return {
      params: { category },
      props: { posts: filteredPosts },
    };
  });
}

const { category } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={category}>
  <!-- <p>Posts within {category}</p>
  <ul>
    {posts.map((post) => <a href={`/blog/${post.slug}/`}>{post.data.title}</a>)}
  </ul> -->

  <section>
    <h1>{category}</h1>
    <div>
      <ol>
        <li>
          <p>2024</p>
          <ol>
            <li>
              <p>12/01</p>
              <ol>
                <li>Post 1</li>
                <li>Post 2</li>
                <li>Post 3</li>
              </ol>
            </li>
            <li>
              <p>11/04</p>
              <ol>
                <li>Post 1</li>
              </ol>
            </li>
            <li>
              <p>09/23</p>
              <ol>
                <li>Post 1</li>
              </ol>
            </li>
            <li>
              <p>02/19</p>
              <ol>
                <li>Post 1</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <p>2023</p>
          <ol>
            <li>
              <p>12/01</p>
              <ol>
                <li>Post 1</li>
                <li>Post 2</li>
                <li>Post 3</li>
              </ol>
            </li>
            <li>
              <p>11/04</p>
              <ol>
                <li>Post 1</li>
              </ol>
            </li>
            <li>
              <p>09/23</p>
              <ol>
                <li>Post 1</li>
              </ol>
            </li>
            <li>
              <p>02/19</p>
              <ol>
                <li>Post 1</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <p>2022</p>
          <ol>
            <li>
              <p>12/01</p>
              <ol>
                <li>Post 1</li>
                <li>Post 2</li>
                <li>Post 3</li>
              </ol>
            </li>
            <li>
              <p>11/04</p>
              <ol>
                <li>Post 1</li>
              </ol>
            </li>
            <li>
              <p>09/23</p>
              <ol>
                <li>Post 1</li>
              </ol>
            </li>
            <li>
              <p>02/19</p>
              <ol>
                <li>Post 1</li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </section>
</BaseLayout>
