---
interface Props {
  title: string;
  description: string;
  url: string;
  disabled?: boolean;
}

const { title, description, url, disabled = false } = Astro.props;
---

<style>
  a {
    text-decoration: none;

    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a:hover {
    color: var(--clr-primary);
  }

  p {
    margin: 0;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;

    width: 100%;

    background-color: var(--clr-crust);
    outline: 1px solid var(--clr-surface-0);

    border-radius: var(--radius-surface);

    padding: 1rem;
  }

  .title {
    font-size: 1.5rem;
    margin: 0;
  }

  .link {
    background-color: var(--clr-mantle);
    padding: 1rem;
    outline: 1px solid var(--clr-surface-0);
    border-radius: var(--radius-input);
  }

  .link:hover {
    background-color: var(--clr-surface-0);
  }

  .link.disabled-link {
    color: var(--clr-subtext-0);
    background-color: var(--clr-crust);
    outline: 1px solid var(--clr-base);
    cursor: default;
  }

  .link.disabled-link:hover {
    background-color: var(--clr-crust);
  }
</style>

<div class='card-wrapper'>
  {
    disabled ? (
      <h3 class='title'>{title}</h3>
    ) : (
      <h3 class='title'>
        <a href={url}>{title}</a>
      </h3>
    )
  }
  <p></p>
  {description}
  {
    disabled ? (
      <p class='link disabled-link'>Coming Soon!</p>
    ) : (
      <a
        class='link'
        href={url}>
        View {title} Projects
      </a>
    )
  }
</div>
