---
interface StatItem {
  number: string;
  label: string;
}

interface Props {
  title: string;
  description: string;
  url: string;
  disabled?: boolean;
  iconClass: string;
  stats?: StatItem[];
}

const {
  title,
  description,
  url,
  disabled = false,
  iconClass,
  stats,
} = Astro.props;
---

<style>
  a {
    text-decoration: none;

    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a:hover {
    color: var(--clr-primary);
  }

  p {
    margin: 0;
  }

  .padding-inline {
    padding-inline: 2rem;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 100%;

    background-color: var(--clr-base);
    outline: 1px solid var(--clr-surface-0);

    border-radius: var(--radius-surface);

    overflow: hidden;
  }

  .card-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--clr-mantle);

    outline: 1px solid transparent;

    width: 100%;
    height: 100%;

    padding-block: 1.5rem;

    transition-property: background-color, outline;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  a.card-header-wrapper:hover {
    background-color: var(--clr-base);

    outline: 1px solid var(--clr-surface-1);
  }

  .header-icon {
    font-size: 4rem;
  }

  .card-body-wrapper {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    width: 100%;

    padding-bottom: 2rem;
  }

  .title {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 0.4rem;
    margin-top: 1rem;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-crust);

    height: 3rem;
    width: 3rem;

    aspect-ratio: 1;

    outline: 1px solid var(--clr-surface-0);
    border-radius: var(--radius-input);

    font-size: 2rem;

    max-width: fit-content;

    border-radius: var(--radius-circle);

    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  .link:hover {
    background-color: var(--clr-surface-0);
  }

  .link.disabled-link {
    color: var(--clr-subtext-0);
    background-color: var(--clr-base);
    outline: 1px solid var(--clr-surface-0);
    cursor: default;
  }

  .link.disabled-link:hover {
    background-color: var(--clr-base);
  }

  hr.hr-short {
    width: 4rem;

    border: none;
    border-radius: var(--radius-pill);

    height: 0.25rem;
    background-color: var(--clr-primary);

    margin: 0;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  hr.hr-long {
    width: 100%;

    border: none;

    height: 1px;
    background-color: var(--clr-surface-1);

    margin-bottom: 2rem;
  }

  .card-footer-wrapper {
    width: 100%;

    padding-bottom: 2rem;
  }

  .stats-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .stat-label {
    display: flex;
    flex-direction: column;
  }

  .stat-label-number {
    font-size: 2rem;
    font-weight: 600;
    color: var(--clr-primary);
  }

  .stat-label-name {
    color: var(--clr-subtext-1);
  }

  @media screen and (max-width: 768px) {
    .padding-inline {
      padding-inline: 1rem;
    }

    .stat-label-number {
      font-size: 1.5rem;
    }

    .stat-label-name {
      font-size: 0.85rem;
    }

    .card-footer-wrapper {
      padding-bottom: 1rem;
    }

    .card-body-wrapper {
      padding-bottom: 1rem;
    }
  }

  .title-content-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  p.coming-soon-label {
    margin-top: 1rem;

    color: var(--clr-subtext-0);
    font-weight: 600;
    font-style: italic;

    background-color: var(--clr-mantle);

    padding-block: 0.4rem;
    padding-inline: 1rem;

    border-radius: var(--radius-pill);
  }
</style>

<div class='card-wrapper box-shadow-3'>
  {
    disabled ? (
      <div class='card-header-wrapper padding-inline'>
        <span class={`header-icon ${iconClass}`} />

        <p
          class='link disabled-link'
          title='Coming soon!'>
          <span class='ri-arrow-right-wide-fill' />
        </p>
      </div>
    ) : (
      <a
        title={`View ${title} projects`}
        href={url}
        class='card-header-wrapper padding-inline'>
        <span class={`header-icon ${iconClass}`} />
        <p
          class='link'
          title={`View ${title} projects`}>
          <span class='ri-arrow-right-wide-fill' />
        </p>
      </a>
    )
  }

  <div class='card-body-wrapper padding-inline'>
    <div class='title-wrapper'>
      {
        disabled ? (
          <div class='title-content-wrapper'>
            <h3 class='title title-disabled'>{title}</h3>
            <p class='coming-soon-label'>Coming soon!</p>
          </div>
        ) : (
          <h3 class='title'>
            <a href={url}>{title}</a>
          </h3>
        )
      }
      <hr class='hr-short' />
    </div>
    <p>
      {description}
    </p>
  </div>
  {
    stats && stats.length > 0 && (
      <div class='card-footer-wrapper padding-inline'>
        <hr class='hr-long' />
        <div class='stats-wrapper'>
          {stats.map((stat) => (
            <p class='stat-label'>
              <span class='stat-label-number'>{stat.number}</span>
              <span class='stat-label-name'>{stat.label}</span>
            </p>
          ))}
        </div>
      </div>
    )
  }
</div>
