---
import PostCard from '@/components/pages/blog/PostCard.astro';
import SocialLinksGroup from '@/components/pages/index/SocialLinksGroup.astro';
import ProjectCard from '@/components/pages/projects/ProjectCard.astro';
import HeroLinksGroup from '@components/pages/index/HeroLinksGroup.astro';
import ProfilePicture from '@components/pages/index/ProfilePicture.astro';
import Heading from '@components/typography/Heading.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const title = 'Austin Hagel';

const featuredProjects = await getCollection('frontendProjects', ({ data }) => {
  return data.featured === true;
});

const allPosts = await getCollection('blog');

const sortedPosts = allPosts.sort(
  (a, b) => b.data.date_published.valueOf() - a.data.date_published.valueOf()
);
---

<style>
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */

    padding-inline: 1rem;

    width: 100%;
    /* max-width: fit-content; */

    /* margin-top: 0; */
    /* margin-bottom: 2rem; */

    margin-top: -8rem;

    min-height: 100dvh;
  }

  .hero-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 0rem;
    margin-bottom: 2rem;
  }

  .image-frame {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 10px solid var(--clr-base);
    border-radius: var(--radius-circle);

    background-color: var(--clr-surface-0);

    overflow: hidden;

    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
  }

  .profile-image {
    --image-size: 256px;

    width: var(--image-size);
    height: var(--image-size);
  }

  .hero-paragraph {
    max-width: 74ch;
    font-size: 1rem;

    padding: 0;
    margin: 0;
  }

  .hero-link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .hero-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
  }

  .about-me {
    max-width: 40ch;
    text-align: justify;

    margin: 0;
    padding: 0;
  }

  hr {
    min-width: 100%;
    width: 20rem;

    border: none;

    height: 1px;

    background-color: var(--clr-text);

    margin: 0;
    padding: 0;
  }

  ul.projects-list,
  ul.blog-post-cards-list {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;

    list-style: none;
    padding: 0;
  }

  ul.blog-post-cards-list {
    list-style: none;
    padding: 0;
  }

  .featured-projects {
    margin-top: 6rem;
    margin-bottom: 12rem;
  }

  section.featured-projects,
  section.recent-posts {
    padding-inline: 1rem;
    width: 100%;
  }

  a.link-view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6ch;

    margin-left: auto;

    background-color: var(--clr-mantle);

    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;

    width: fit-content;
    padding-inline: 0.8rem;
    padding-block: 0.6rem;

    margin-top: 2rem;

    border-radius: var(--radius-input);
    outline: 2px solid var(--clr-surface-0);

    transition-property: background-color, color, outline;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.link-view-all:hover {
    background-color: var(--clr-base);
    color: var(--clr-primary);
    outline: 2px solid var(--clr-surface-1);
  }

  hr.hero-hr {
    margin-top: 3rem;
    display: none;
  }

  @media screen and (min-width: 1024px) {
    ul.projects-list,
    ul.blog-post-cards-list {
      grid-template-columns: repeat(2, 1fr);
    }

    .hero-wrapper {
      flex-direction: column;

      width: 100%;
      /* margin-top: -8rem; */
      margin-bottom: 0;

      min-width: 18rem;
    }

    .hero-content-wrapper {
      grid-row: 1;
      justify-self: end;

      display: grid;
      grid-template-columns: 1fr auto;
      /* grid-template-rows: repeat(2, 1fr); */

      gap: 0 1rem;

      width: 100%;
    }

    .profile-pic-wrapper {
      grid-column-start: 2;
      grid-row: span 3;
    }

    .title-wrapper {
      grid-row: 1;
      align-self: end;
    }

    .social-links-wrapper {
      grid-row: 3;
      align-self: start;
    }

    .hero-paragraph-wrapper {
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: -1;
    }

    .hero-info-wrapper {
      grid-row: 1;
      width: 100%;
      justify-self: start;

      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    .about-me {
      grid-column: 0;
      grid-row: 2;

      max-width: 50ch;
      text-align: left;
    }

    hr.hero-hr {
      display: flex;
    }
  }

  .post-section-title {
    display: flex;
    align-items: center;
    gap: 0.5ch;

    font-size: 2rem;

    margin: 0;
  }

  .post-section-title-icon {
    font-size: 3rem;
  }

  hr.hr-short {
    display: flex;

    border-radius: var(--radius-pill);

    background-color: var(--clr-primary);

    height: 0.25rem;

    min-width: auto;
    width: 100%;
    max-width: 5rem;
  }

  .cards-list {
    margin-top: 2rem;
  }

  hr {
    height: 1px;
    background-color: var(--clr-surface-0);
  }
</style>

<BaseLayout title={title}>
  <section class='hero-wrapper max-width'>
    <!-- <IconLink
      url='https://example.com'
      label='Example'
      newTab={true}
      iconClass='ri-lightbulb-fill'
    /> -->
    <div class='hero-content-wrapper'>
      <div class='profile-pic-wrapper'>
        <ProfilePicture />
      </div>
      <div class='title-wrapper'>
        <Heading
          type='title'
          level={1}
          size='l6x'>
          <span>Austin Hagel</span>
        </Heading>
        <hr class='hr-short' />
      </div>
      <p class='about-me'>
        Welcome to my website, and explore with me the intersection of code,
        design, and interactive media.
      </p>
      <div class='social-links-wrapper'>
        <SocialLinksGroup />
      </div>
    </div>

    <hr class='hero-hr' />

    <div class='hero-info-wrapper'>
      <div class='hero-link-list'>
        <HeroLinksGroup />
      </div>
    </div>
  </section>

  <section class='max-width recent-posts'>
    <h2 class='post-section-title'>
      <span class='post-section-title-icon ri-news-fill'></span>
      <span>Recent Posts</span>
    </h2>
    <hr class='hr-short' />
    <ul class='cards-list blog-post-cards-list'>
      {
        sortedPosts.slice(0, 4).map((post: any) => (
          <li>
            <PostCard
              post={post}
              transition:name={`post-card-${post.id}`}
            />
          </li>
        ))
      }
    </ul>
    <a
      class='link-view-all'
      href='/blog'>
      <span class='ri-infinity-line'></span>
      <span>View All</span>
    </a>
  </section>
  <section class='max-width featured-projects'>
    <h2 class='post-section-title'>
      <span class='post-section-title-icon ri-code-box-fill'></span>
      <span>Featured Projects</span>
    </h2>
    <hr class='hr-short' />
    <ul class='cards-list projects-list'>
      {
        featuredProjects.slice(0, 4).map((project) => (
          <li class='projects-list-item'>
            <ProjectCard
              url={`/projects/frontend/${project.slug}`}
              data={project.data}
            />
          </li>
        ))
      }
    </ul>
    <a
      class='link-view-all'
      href='/projects/frontend'>
      <span class='ri-infinity-line'></span>
      <span>View All</span>
    </a>
  </section>
</BaseLayout>
