---
import Picture from 'astro/components/Picture.astro';
import testImage from '@assets/images/test.jpg';
import type { CollectionEntry } from 'astro:content';
import DateLabel from '@/components/interface/DateLabel.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const hasCover = post.data.cover;
---

<style>
  .archive-post-card-wrapper-with-cover {
    grid-template-columns: minmax(0, 1fr) 3fr;
  }

  .archive-post-card-wrapper-without-cover {
    grid-template-columns: 1fr;
  }

  .archive-post-card-wrapper {
    display: grid;
    gap: 1rem;

    background-color: var(--clr-crust);

    border-radius: var(--radius-surface);
    outline: 1px solid var(--clr-surface-0);

    height: 8rem;
    width: 100%;

    overflow: hidden;
  }

  .picture-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    transform: translateY(-50%);

    aspect-ratio: 5 / 3;

    overflow: hidden;

    width: 100%;
    min-width: 10rem;
    height: 100%;
  }

  .archive-post-img {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;

    cursor: pointer;

    transition-property: scale;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transform-origin: center;
  }

  .archive-post-img:hover {
    scale: 1.04;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.4rem;

    padding: 1rem;
    width: 100%;

    overflow: hidden;
  }

  .content-wrapper-has-cover {
    padding-left: 0;
  }

  a.post-title-link {
    text-decoration: none;

    width: 100%;
    display: block;

    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a.post-title-link:hover {
    color: var(--clr-primary);
  }

  .post-title {
    font-size: 1.25rem;

    margin: 0;

    width: 100%;
    min-width: 0;
  }

  .date-wrapper {
    margin-bottom: 0.2rem;
  }

  .post-desc-wrapper {
    overflow: hidden;
    width: 100%;
    min-width: 0;
  }

  .single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .archive-post-card-wrapper-with-cover {
      grid-template-columns: 1fr;
    }

    .picture-wrapper {
      display: none;
    }

    .content-wrapper-has-cover {
      padding-left: 1rem;
    }
  }
</style>

<div
  class={`archive-post-card-wrapper ${hasCover ? 'archive-post-card-wrapper-with-cover' : 'archive-post-card-wrapper-without-cover'}`}>
  {
    post.data.cover && (
      <div class='picture-wrapper'>
        <a href={`/blog/${post.slug}`}>
          <Picture
            width={400}
            height={400}
            src={post.data.cover}
            alt={post.data.cover_alt ? post.data.cover_alt : ''}
            formats={['avif', 'webp', 'png']}
            decoding={'async'}
            loading={'lazy'}
            class='archive-post-img'
          />
        </a>
      </div>
    )
  }
  <div class={`content-wrapper ${hasCover ? 'content-wrapper-has-cover' : ''}`}>
    <div class='date-wrapper'>
      <DateLabel date={post.data.date_published} />
    </div>
    <a
      class='post-title-link'
      href={`/blog/${post.slug}`}>
      <h5 class='post-title single-line'>{post.data.title}</h5>
    </a>
    <div class='post-desc-wrapper'>
      <p class='single-line'>{post.data.description}</p>
    </div>
  </div>
</div>
