---
/*

Take inspiration from these examples:
https://fuwari.vercel.app/archive/category/Examples/
https://yukina-blog.vercel.app/en/categories/e68ee04d
https://shoka.lostyu.me/archives/

*/

import BaseLayout from '../../../layouts/BaseLayout.astro';

const title = 'Archive';
---

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 0;
    max-width: fit-content;
  }

  section {
    width: 100%;
    padding-inline: 1rem;
  }

  .tabs-group-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    position: relative;

    background-color: var(--clr-base);

    width: 100%;
  }

  .tab-title-wrapper {
    align-self: center;
    justify-self: center;
  }

  .tab-title-wrapper[data-active='true'] > h3 {
    color: var(--clr-primary);
  }

  .tab-content-wrapper {
    position: absolute;
    top: 2.5rem;
    left: 0;

    width: 100%;
  }

  .tab-content-wrapper > ul {
    display: flex;
    flex-wrap: wrap;
  }

  .tab-content-wrapper[data-active='false'] {
    display: none;
  }
</style>

<BaseLayout pageTitle={title}>
  <!-- <p>Posts within {category}</p>
  <ul>
    {posts.map((post) => <a href={`/blog/${post.slug}/`}>{post.data.title}</a>)}
  </ul> -->

  <section class='max-width'>
    <h1>{title}</h1>
    <div class='tabs-group-wrapper'>
      <div
        class='tab-title-wrapper'
        data-tab-id='tags'
        data-active='true'>
        <h3 class='tab-title'>Tags</h3>
      </div>
      <div
        class='tab-content-wrapper'
        data-tab-id='tags'
        data-active='true'>
        <ul>
          <li>
            <p>Tag 1</p>
          </li>
          <li>
            <p>Tag 2</p>
          </li>
          <li>
            <p>Tag 3</p>
          </li>
          <li>
            <p>Tag 4</p>
          </li>
          <li>
            <p>Tag 5</p>
          </li>
        </ul>
      </div>
      <div
        class='tab-title-wrapper'
        data-tab-id='categories'
        data-active='false'>
        <h3 class='tab-title'>Categories</h3>
      </div>
      <div
        class='tab-content-wrapper'
        data-tab-id='categories'
        data-active='false'>
        <ul>
          <li>
            <p>Category 1</p>
          </li>
          <li>
            <p>Category 2</p>
          </li>
          <li>
            <p>Category 3</p>
          </li>
          <li>
            <p>Category 4</p>
          </li>
          <li>
            <p>Category 5</p>
          </li>
        </ul>
      </div>

      <div
        class='tab-title-wrapper'
        data-tab-id='topics'
        data-active='false'>
        <h3 class='tab-title'>Topics</h3>
      </div>
      <div
        class='tab-content-wrapper'
        data-tab-id='topics'
        data-active='false'>
        <ul>
          <li>
            <p>Topic 1</p>
          </li>
          <li>
            <p>Topic 2</p>
          </li>
          <li>
            <p>Topic 3</p>
          </li>
          <li>
            <p>Topic 4</p>
          </li>
          <li>
            <p>Topic 5</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</BaseLayout>
