---
/*

Take inspiration from these examples:
https://fuwari.vercel.app/archive/category/Examples/
https://yukina-blog.vercel.app/en/categories/e68ee04d
https://shoka.lostyu.me/archives/

*/

import BaseLayout from '../../../layouts/BaseLayout.astro';

const title = 'Archive';
---

<style>
  ol,
  ul {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 0;
  }

  p {
    isolation: isolate;
    margin: 0;
  }

  section {
    width: 100%;
    padding-inline: 1rem;

    margin-bottom: 6rem;
  }

  div.timeline-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: var(--clr-base);

    border-radius: var(--radius-surface);

    padding-block: 2rem;
  }

  /*** Timeline List ***/

  ol.timeline-list {
    display: flex;
    /* gap: 2.5rem; */
    min-width: 24rem;
  }

  li.timeline-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 1rem; */
  }

  p.timeline-list-title {
    position: relative;

    justify-self: end;

    font-size: 1.5rem;
    font-weight: 700;

    padding-bottom: 1rem;
  }

  p.timeline-list-post-count {
    align-self: center;

    color: var(--clr-text);
    font-size: 1.5rem;
    font-weight: 700;

    padding-bottom: 1.5rem;
  }

  /*** Date List ***/

  ol.date-list {
    display: flex;
    grid-column: span 3;
    /* gap: 2rem; */
  }

  li.date-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 1rem; */
  }

  /*** Post List ***/

  p.post-list-title {
    position: relative;

    justify-self: end;

    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-subtext-0);
  }

  ol.post-list {
    width: 100%;
    gap: 0.25rem;
  }

  li.post-list-item {
    padding-bottom: 1rem;
  }

  li.post-list-item:last-child {
    padding-bottom: 2rem;
  }

  a.post-list-item-link {
    position: relative;

    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;

    background-color: var(--clr-surface-0);

    padding-block: 0.25rem;
    padding-inline: 1.5rem;

    border-radius: var(--radius-input);

    outline: 1px solid var(--clr-surface-1);

    width: 100%;
  }

  a.post-list-item-link:hover {
    color: var(--clr-primary);
    background-color: var(--clr-surface-1);
    outline: 1px solid var(--clr-surface-2);
  }

  /*** Seperator ***/

  div.timeline-seperator {
    isolation: isolate;
    content: '';

    position: relative;

    width: 5px;
    height: 100%;

    justify-self: center;

    border-right: 2.5px dashed var(--clr-surface-2);
  }

  .timeline-list > li:first-child > .timeline-seperator {
    height: 70%;
    margin-top: auto;
  }

  .timeline-list > li:first-child > .timeline-seperator::before {
    margin-top: 0;
  }

  .timeline-list
    > li:last-child
    .date-list-item:last-child
    > .timeline-seperator {
    height: 30%;
    margin-bottom: auto;
  }

  .timeline-list-title ~ .timeline-seperator::before {
    content: '';

    position: absolute;
    right: calc(-0.25rem - 5px);

    width: 1rem;
    height: 1rem;

    border-radius: 50%;

    background-color: var(--clr-base);
    border: 3px solid var(--clr-primary);
    outline: 5px solid var(--clr-base);

    z-index: 1;

    margin-top: 0.75rem;
  }

  .post-list-title ~ .timeline-seperator::before {
    content: '';

    position: absolute;
    right: -0.28rem;

    width: 0.4rem;
    height: 0.4rem;

    aspect-ratio: 1;

    border-radius: 999px;

    background-color: var(--clr-text);
    outline: 6px solid var(--clr-base);

    z-index: 1;

    margin-top: 0.25rem;
  }
</style>

<BaseLayout pageTitle={title}>
  <!-- <p>Posts within {category}</p>
  <ul>
    {posts.map((post) => <a href={`/blog/${post.slug}/`}>{post.data.title}</a>)}
  </ul> -->

  <section class='max-width'>
    <h1>{title}</h1>
    <div class='timeline-list-wrapper'>
      <ol class='timeline-list'>
        <li class='timeline-list-item'>
          <p class='timeline-list-title'>2024</p>
          <div class='timeline-seperator'></div>

          <p class='timeline-list-post-count'>
            <span class='post-count-label'>0</span><span> Posts</span>
          </p>
          <ol class='date-list'>
            <li class='date-list-item'>
              <p class='post-list-title'>12/01</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 2</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 3</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>11/04</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>09/23</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>02/19</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li class='timeline-list-item'>
          <p class='timeline-list-title'>2023</p>
          <div class='timeline-seperator'></div>

          <p class='timeline-list-post-count'>
            <span class='post-count-label'>0</span><span> Posts</span>
          </p>
          <ol class='date-list'>
            <li class='date-list-item'>
              <p class='post-list-title'>12/01</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 2</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 3</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>11/04</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>09/23</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>02/19</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li class='timeline-list-item'>
          <p class='timeline-list-title'>2022</p>
          <div class='timeline-seperator'></div>

          <p class='timeline-list-post-count'>
            <span class='post-count-label'>0</span><span> Posts</span>
          </p>
          <ol class='date-list'>
            <li class='date-list-item'>
              <p class='post-list-title'>12/01</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 2</a
                  >
                </li>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 3</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>11/04</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>09/23</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
            <li class='date-list-item'>
              <p class='post-list-title'>02/19</p>
              <div class='timeline-seperator'></div>

              <ol class='post-list'>
                <li class='post-list-item'>
                  <a
                    class='post-list-item-link'
                    href='#'
                    >Post 1</a
                  >
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </section>
</BaseLayout>
