---
import { Picture } from 'astro:assets';
import '../styles/components/blogPostCard.css';
import ReadMoreButton from './ReadMoreButton.astro';
import Chip from './interface/Chip.astro';
import DateLabel from './interface/DateLabel.astro';

const { data, url, image } = Astro.props;

// const formattedDate = new Date(data.date_published).toLocaleDateString(
//   'en-US',
//   {
//     month: 'short',
//     day: 'numeric',
//     year: 'numeric',
//   }
// );
---

<div class='blog-card-wrapper'>
  <article class='blog-card'>
    {
      data.cover ? (
        <div class='picture-wrapper'>
          <div class='header-meta-details-wrapper'>
            <div class='header-meta-details'>
              <Chip url={`/blog/categories/${data.category}`}>
                {data.category}
              </Chip>
              <p class='header-detail-read-minutes'>
                <span class='time-read-icon bx bxs-timer' />
                <span>
                  0<span> minute read</span>
                </span>
              </p>
              <DateLabel date={data.date_published} />
            </div>
          </div>
          <a href={`${url}`}>
            <Picture
              width={400}
              height={200}
              src={image}
              alt={'Placeholder image'}
              class='blog-picture'
            />
          </a>
        </div>
      ) : (
        <div
          class='header-meta-details-wrapper'
          data-has-picture='false'>
          <div class='header-meta-details'>
            <Chip url={`/blog/categories/${data.category}`}>
              {data.category}
            </Chip>
            <p class='header-detail-read-minutes'>
              <span class='time-read-icon bx bxs-timer' />
              <span>
                0<span> minute read</span>
              </span>
            </p>
            <DateLabel date={data.date_published} />
          </div>
        </div>
      )
    }

    <div class='content-wrapper'>
      <h3 class='card-title'>
        <a href={url}>{data.title}</a>
      </h3>

      <p class='blog-card-summary'>
        {data.summary}
      </p>

      <div class='btn-read-more-wrapper'>
        <ReadMoreButton url={url} />
      </div>
    </div>
  </article>
</div>
