---
import { Picture } from 'astro:assets';

const { title, url, image, imageAlt, summary, tags, date } = Astro.props;

const maxImages = 1084;

const imageId = Math.floor(Math.random() * maxImages);

const phImage = `https://picsum.photos/id/${imageId}/800/400`;

const formattedDate = new Date(date).toLocaleDateString('en-US', {
  month: 'long',
  year: 'numeric',
});
---

<style>
  /*** General ***/
  ul {
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0;
  }

  p {
    margin: 0;
  }

  header,
  footer,
  .blog-card-summary {
    padding-inline: 1rem;
  }

  .blog-card-wrapper {
    isolation: isolate;
    width: 100%;
  }

  .blog-card {
    background-color: var(--clr-base);
    border-radius: var(--radius-surface);
    outline: 1px solid var(--clr-surface-0);
    overflow: hidden;
  }

  /*** Picture ***/

  .picture-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 4/2;

    overflow: hidden;
  }

  .blog-picture {
    position: absolute;
    left: 0;
    top: 0;

    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /*** Picture Overlay Info ***/

  .header-meta-details-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    padding-inline: 1rem;

    border-top: 1px sold var(--clr-surface-0);

    z-index: 10;
  }

  .header-meta-details-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--clr-base);
    opacity: 0.9;

    z-index: -1;
  }

  .header-meta-details {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 0.4rem 1rem;

    font-size: 0.9rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .header-meta-detail-category {
    background-color: var(--clr-mantle);

    color: var(--clr-subtext-0);

    padding-inline: 0.8rem;
    padding-block: 0.4rem;

    border-radius: var(--radius-chip);
  }

  .header-meta-detail-time-read {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2ch;

    justify-self: start;

    color: var(--clr-subtext-0);
  }

  .date-published {
    font-size: 0.9rem;
    color: var(--clr-subtext-0);
  }

  /*** Card Body ***/

  .header-title {
    font-size: 1.2rem;
    margin: 0;
    padding-inline: 1rem;
    margin-top: 1rem;
  }

  .header-title > a {
    text-decoration: none;
  }

  .blog-card-summary {
    color: var(--clr-subtext-0);
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
  }

  .read-more-link-2 {
    height: 100px;
    width: 10px;

    background-color: red;
  }

  @media screen and (min-width: 786px) {
    .header-meta-details {
      display: grid;
      grid-template-columns: auto auto 1fr;
      align-items: center;
    }

    .header-meta-detail-category {
      grid-column-start: 1;
      max-width: fit-content;
    }

    .header-meta-detail-time-read {
      grid-column-start: 2;
    }

    .date-published {
      grid-column-start: 3;
      margin-left: auto;
    }
  }
</style>

<div class='blog-card-wrapper'>
  <article class='blog-card'>
    <div class='picture-wrapper'>
      <div class='header-meta-details-wrapper'>
        <div class='header-meta-details'>
          <p class='header-meta-detail-category'>Category</p>
          <p class='header-meta-detail-time-read'><span>0</span> min Read</p>
          <time
            class='date-published'
            datetime={date}
            >{formattedDate}</time
          >
        </div>
      </div>
      <Picture
        width={400}
        height={200}
        src={phImage}
        alt={'Placeholder image'}
        class='blog-picture'
      />
    </div>

    <div class='content-wrapper'>
      <h3 class='header-title'>
        <a href={url}>{title}</a>
      </h3>

      <p class='blog-card-summary'>
        {summary}
      </p>

      <a
        class='read-more-link-2'
        href='#'>
      </a>
    </div>
  </article>
</div>
