---
import { Picture } from 'astro:assets';
import '../styles/components/blogPostCard.css';
import ReadMoreButton from './ReadMoreButton.astro';
import type { CollectionEntry } from 'astro:content';
import PostInfo from './PostInfo.astro';
import Heading from './typgraphy/Heading.astro';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
---

<div class='blog-card-wrapper'>
  <article class='blog-card'>
    {
      post.data.cover ? (
        <div class='picture-wrapper'>
          <div class='post-info-wrapper'>
            <PostInfo post={post} />
          </div>
          <a href={`/blog/${post.slug}`}>
            <Picture
              width={400}
              height={200}
              src={post.data.cover}
              alt={'Placeholder image'}
              class='blog-picture'
              loading={'eager'}
              transition:name={`blog-cover-${post.data.title}`}
            />
          </a>
        </div>
      ) : (
        <div
          class='post-info-wrapper'
          data-has-picture='false'>
          <PostInfo post={post} />
        </div>
      )
    }

    <div class='content-wrapper'>
      <div class='card-title'>
        <Heading
          level={3}
          url={`/blog/${post.slug}`}
          transition:name={`blog-title-${post.data.title}`}>
          {post.data.title}
        </Heading>
      </div>

      <p class='blog-card-summary'>
        {post.data.summary}
      </p>

      <div class='btn-read-more-wrapper'>
        <ReadMoreButton url={`/blog/${post.slug}`} />
      </div>
    </div>
  </article>
</div>
