---
import { Picture } from 'astro:assets';
import '../styles/components/blogPostCard.css';

const { data } = Astro.props;
const maxImages = 1084;
const imageId = Math.floor(Math.random() * maxImages);
const phImage = `https://picsum.photos/id/${imageId}/800/400`;

const formattedDate = new Date(data.date_published).toLocaleDateString(
  'en-US',
  {
    month: 'long',
    year: 'numeric',
  }
);
---

<div class='blog-card-wrapper'>
  <article class='blog-card'>
    <div class='picture-wrapper'>
      <div class='header-meta-details-wrapper'>
        <div class='header-meta-details'>
          <a
            href={data.url}
            class='header-meta-detail-category'>
            <span>{data.category}</span>
          </a>
          <p class='header-meta-detail-time-read'><span>0</span> min Read</p>
          <time
            class='date-published'
            datetime={data.date_published}
            >{formattedDate}</time
          >
        </div>
      </div>
      <Picture
        width={400}
        height={200}
        src={phImage}
        alt={'Placeholder image'}
        class='blog-picture'
      />
    </div>

    <div class='content-wrapper'>
      <h3 class='header-title'>
        <a href={data.url}>{data.title}</a>
      </h3>

      <p class='blog-card-summary'>
        {data.summary}
      </p>

      <a
        class='read-more-link-2'
        href='#'>
      </a>
    </div>
  </article>
</div>
