---
import { Picture } from 'astro:assets';

const { title, url, image, imageAlt, summary, tags, date } = Astro.props;

const formattedDate = new Date(date).toLocaleDateString('en-US', {
  month: 'long',
  year: 'numeric',
});
---

<style>
  ul {
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0;
  }

  .blog-card-wrapper {
    width: 100%;
  }

  header,
  footer,
  .blog-card-summary {
    padding-inline: 1rem;
  }

  .blog-card {
    background-color: var(--clr-base);
    border-radius: var(--radius-surface);
    outline: 1px solid var(--clr-surface-0);
    overflow: hidden;
  }

  .picture-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 4/2;

    overflow: hidden;
  }

  .header-meta-details {
    display: flex;
    gap: 1rem;

    font-size: 0.9rem;
  }

  .header-meta-detail-category {
    background-color: var(--clr-mantle);

    color: var(--clr-subtext-0);

    padding-inline: 0.8rem;
    padding-block: 0.4rem;

    border-radius: var(--radius-chip);
  }

  .header-meta-detail-time-read {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2ch;

    color: var(--clr-subtext-0);
  }

  .header-title {
    font-size: 1.2rem;
    margin: 0;
  }

  .header-title > a {
    text-decoration: none;
  }

  .blog-card-summary {
    color: var(--clr-subtext-0);
  }

  .blog-picture {
    position: absolute;
    left: 0;
    top: 0;

    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .post-tags {
    flex-direction: row;
  }

  .tag {
    background-color: var(--clr-base);
    outline: 1px solid var(--clr-surface-0);
    border-radius: var(--radius-pill);

    padding-inline: 0.6rem;
    padding-block: 0.1rem;

    font-size: 0.9rem;
  }

  .date-published {
    font-size: 0.9rem;
    color: var(--clr-subtext-0);
  }
</style>

<div class='blog-card-wrapper'>
  <article class='blog-card'>
    <div class='picture-wrapper'>
      <Picture
        width={400}
        height={200}
        src={'https://placehold.co/400x200'}
        alt={'Placeholder image'}
        class='blog-picture'
      />
    </div>

    <header>
      <div class='header-meta-details'>
        <p class='header-meta-detail-category'>Category</p>
        <p class='header-meta-detail-time-read'><span>0</span> min Read</p>
      </div>
      <h3 class='header-title'>
        <a href={url}>{title}</a>
      </h3>
    </header>

    <p class='blog-card-summary'>
      {summary}
    </p>

    <footer>
      <ul class='post-tags'>
        {
          tags.map((tag: string) => (
            <li>
              <p class='tag'>{tag}</p>
            </li>
          ))
        }
      </ul>
      <time
        class='date-published'
        datetime={date}
        >{formattedDate}</time
      >

      <!-- <div class='blog-card-meta'>
        <span>By Jane Doe</span>
        <a
          href='/blog/post-1#comments'
          aria-label='Comments for Revolutionary AI Breakthrough'>
          <span aria-hidden='true'>💬</span>
          <span class='sr-only'>Comments</span>
          <span>24</span>
        </a>
        <span>5 min read</span>
      </div> -->
    </footer>
  </article>
</div>
