---
import SelectTheme from './SelectTheme.astro';
import SelectFont from './SelectFont.astro';
import LightSwitch from './LightSwitch.astro';

import '../styles/components/customizationMenu.css';

const { inDrawer, id } = Astro.props;
---

<div
  class='customization-menu-wrapper'
  data-in-drawer={inDrawer}>
  <button class='btn-show-customization-options'>
    <div class='icon-wrapper'>
      <span class='btn-show-customization-options-icon bx bxs-customize'></span>
    </div>
    <span class='btn-label'>Customize</span>
  </button>
  <div
    class='customization-menu'
    data-in-drawer={inDrawer}
    data-active='false'>
    <div class='menu-header'>
      <p class='menu-header-title'>Customization</p>
      <button class='btn-close-customization-menu'
        ><span class='bx bx-x-circle'></span></button
      >
    </div>
    <div class='menu-content'>
      <div class='lightswitch-wrapper'>
        <LightSwitch id={id} />
      </div>
      <SelectFont id={id} />
      <SelectTheme id={id} />
    </div>
  </div>
</div>

<script src='../scripts/customizationMenuButton.ts'></script>
