---
const { url, label, iconName, iconColor, iconType } = Astro.props;
---

<a href={url}>
  {
    iconName && (
      <box-icon
        name={iconName}
        color={iconColor}
        type={iconType}
      />
    )
  }
  <span>
    {label}
  </span>
</a>
