---
const { url, label, iconName, iconColor, iconType } = Astro.props;
---

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    text-decoration: none;

    color: var(--clr-text);

    background-color: var(--clr-surface-400);

    border-radius: 1pt;
    outline: 1px solid var(--clr-surface-300);

    padding-inline: 1rem;
    padding-block: 0.4rem;

    width: fit-content;

    transition-property: color, background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a:hover {
    background-color: var(--clr-text);
    outline: 1px solid var(--clr-primary);
    color: var(--clr-surface-400);
  }

  p {
    padding: 0;
    margin: 0;

    font-size: 1rem;
  }
</style>

<a href={url}>
  {
    iconName && (
      <box-icon
        name={iconName}
        color={iconColor}
        type={iconType}
      />
    )
  }
  <span class='bx bx-user'></span>
  {label}
</a>
