---
import LinkListItem from './LinkListItem.astro';

const externalLinks = [
  {
    url: 'https://astn.sh/linkedin',
    label: 'LinkedIn',
    iconClass: 'bx bxl-linkedin-square',
  },
  {
    url: 'https://astn.sh/frontend-mentor',
    label: 'Frontend Mentor',
    iconClass: 'bx bxs-dashboard',
  },
  {
    url: 'https://astn.sh/github',
    label: 'Github',
    iconClass: 'bx bxl-github',
  },
];

const internalLinks = [
  {
    url: '/about',
    label: 'About',
    iconClass: 'bx bxs-detail',
  },
  {
    url: '/blog',
    label: 'Blog',
    iconClass: 'bx bxs-message-square-dots',
  },
  {
    url: '/projects',
    label: 'Projects',
    iconClass: 'bx bx-code-block',
  },
];
---

<style>
  h3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-block: 0.4rem;
    margin: 0;

    /* border-radius: 999px; */
    /* border: 2px solid var(--clr-surface-400); */

    font-size: 1.2rem;
    font-weight: 600;

    width: 100%;

    /* background-color: var(--clr-surface-200); */
  }

  h3::after {
    left: 0;
  }

  h3::before {
    right: 0;
  }

  h3::after,
  h3::before {
    content: '';
    position: absolute;

    width: 25%;
    height: 0.06rem;
    background-color: var(--clr-surface-200);
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6rem;

    width: 100%;

    list-style: none;

    padding: 0;
  }

  li {
    width: 100%;
  }

  .links-nav {
    gap: 2rem;
  }

  .link-list-wrapper {
    width: 100%;
  }
</style>

<nav class='links-nav'>
  <div class='link-list-wrapper'>
    <h3>What I Do</h3>
    <ul>
      {
        internalLinks.map((link) => (
          <li>
            <LinkListItem
              url={link.url}
              label={link.label}
              iconClass={link.iconClass}
              newTab={false}
            />
          </li>
        ))
      }
    </ul>
  </div>

  <div class='link-list-wrapper'>
    <h3>Where I Am</h3>
    <ul>
      {
        externalLinks.map((link) => (
          <li>
            <LinkListItem
              url={link.url}
              label={link.label}
              iconClass={link.iconClass}
            />
          </li>
        ))
      }
    </ul>
  </div>
</nav>
