---
import LinkListItem from './LinkListItem.astro';
import links from '../scripts/links.json';

const internalLinks = links.internalLinks.filter((link) => {
  if (link.url === '/') return false;
  else return true;
});

const externalLinks = links.externalLinks;
---

<style>
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6rem;

    width: 100%;

    list-style: none;

    padding: 0;
  }

  li {
    width: 100%;
  }

  .links-nav {
    gap: 2rem;
  }

  .link-list-wrapper {
    width: 100%;
  }

  .link-list-title-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  }

  .link-list-title-hr {
    align-self: center;

    width: 100%;
    height: 1px;

    background-color: var(--clr-surface-1);
  }

  .link-list-title {
    text-align: center;
    justify-self: center;
    margin: 0;

    padding-inline: 1rem;

    font-size: 1.2rem;
    font-weight: 600;

    width: 100%;
  }
</style>

<nav class='links-nav'>
  <div class='link-list-wrapper'>
    <div class='link-list-title-wrapper'>
      <div class='link-list-title-hr'></div>
      <h3 class='link-list-title'>What I Do</h3>
      <div class='link-list-title-hr'></div>
    </div>
    <ul>
      {
        internalLinks.map((link) => (
          <li>
            <LinkListItem
              url={link.url}
              label={link.label}
              iconClass={link.iconClass}
              newTab={false}
            />
          </li>
        ))
      }
    </ul>
  </div>

  <div class='link-list-wrapper'>
    <div class='link-list-title-wrapper'>
      <div class='link-list-title-hr'></div>
      <h3 class='link-list-title'>Where I Am</h3>
      <div class='link-list-title-hr'></div>
    </div>
    <ul>
      {
        externalLinks.map((link) => (
          <li>
            <LinkListItem
              url={link.url}
              label={link.label}
              iconClass={link.iconClass}
            />
          </li>
        ))
      }
    </ul>
  </div>
</nav>
