---
const { url, title, description, tags, githubUrl, demoUrl, projectPageUrl } =
  Astro.props;
---

<style>
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    min-height: 40rem;

    background-color: var(--clr-base);

    border-radius: var(--radius-card);

    outline: 1px solid var(--clr-surface-0);
  }

  ul.tags-list {
    display: flex;
    gap: 1rem;

    list-style: none;
    padding: 0;
  }

  li.tag {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-block: 0.4rem;
    padding-inline: 1.2rem;

    font-size: 0.8rem;

    border-radius: 999px;

    background-color: var(--clr-surface-0);
  }

  ul.links-list {
    display: flex;
    gap: 1rem;

    list-style: none;

    padding: 0;
    margin: 0;
  }

  a.link {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    padding-block: 0.8rem;
    padding-inline: 1.4rem;

    background-color: var(--clr-surface-0);
    outline: 1px solid var(--clr-surface-1);

    border-radius: var(--radius-button);

    cursor: pointer;
  }
</style>

<div class='project-card'>
  <a href={url}>{title}</a>
  <p>{description}</p>
  <ul class='links-list'>
    {
      githubUrl && (
        <li>
          <a
            class='link'
            href={githubUrl}
            target='_blank'>
            Github
          </a>
        </li>
      )
    }
    {
      demoUrl && (
        <li>
          <a
            class='link'
            href={demoUrl}
            target='_blank'>
            Demo
          </a>
        </li>
      )
    }
    {
      projectPageUrl && (
        <li>
          <a
            class='link'
            href={projectPageUrl}>
            Project
          </a>
        </li>
      )
    }
  </ul>
  <ul class='tags-list'>
    {tags.map((tag: string) => <li class='tag'>{tag}</li>)}
  </ul>
</div>
