<!-- ---
import Heading from '@/components/typography/Heading.astro';
import HeroLink from './HeroLink.astro';
import type { Link } from '@/types';
import convertSpacesToHyphens from '@/scripts/utils/spacesToHyphens';

interface Props {
  links: Link[];
  title: string;
  iconClass?: string;
  internalLink: boolean;
}

const { links, title, iconClass, internalLink } = Astro.props;

const navId = `link-nav-wrapper-${convertSpacesToHyphens(title).toLowerCase()}`;
const btnId = `btn-toggle-accordion-${convertSpacesToHyphens(title).toLowerCase()}`;
---

<style>
  /*** List Wrapper for Transition ***/

  nav.link-nav-wrapper {
    display: grid;

    transition-property: grid-template-rows;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  nav.link-nav-wrapper[data-open='false'] {
    grid-template-rows: 0fr;
  }

  nav.link-nav-wrapper[data-open='true'] {
    grid-template-rows: 1fr;
  }

  nav.link-nav-wrapper > div {
    overflow: hidden;
  }

  /** Everything Else ***/

  .link-group-heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.75ch;

    font-size: 1.85rem;

    border: none;

    width: 100%;

    margin: 0;

    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  .link-group-open-icon {
    color: var(--clr-subtext-0);
    font-size: 1.4rem;
    font-weight: 400;

    margin-left: auto;

    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  article.link-group-wrapper:has(.link-nav-wrapper[data-open='true'])
    .link-group-open-icon {
    transform: rotate(180deg);
  }

  article.link-group-wrapper:has(.link-nav-wrapper[data-open='false'])
    .link-group-open-icon {
    transform: rotate(0deg);
  }

  .link-list {
    display: flex;
    gap: 1rem;

    padding: 0;
    margin: 0;
    margin-top: 1rem;

    list-style-type: none;
  }

  hr.hr-short {
    display: flex;

    border-radius: var(--radius-pill);

    background-color: var(--clr-primary);

    height: 0.25rem;

    min-width: auto;
    width: 100%;
    max-width: 3.5rem;

    margin: 0;
    margin-left: 0.15rem; /* just to help align it with the title */
    margin-top: 0.2rem;
  }
</style>

<article class='link-group-wrapper'>
  <div
    class='link-group-heading-wrapper'
    id={btnId}>
    <span class={iconClass}></span>
    <Heading
      level={3}
      size='l2x'
      >{title}</Heading
    >
  </div>
  <hr class='hr-short' />
  <nav
    class='link-nav-wrapper'
    id={navId}>
    <ul class='link-list'>
      {
        links.map((link) => (
          <li class='link-list-item'>
            <HeroLink
              url={link.url}
              label={link.label}
              iconClass={link.iconClass}
              newTab={internalLink ? false : true}
              size='xs'
            />
          </li>
        ))
      }
    </ul>
  </nav>
</article> -->
