---
import ProjectPageCard from '@/components/pages/projects/ProjectPageCard.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<style>
  .max-width {
    width: 100%;

    margin-bottom: 6rem;

    padding-inline: 1rem;
  }

  .cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    width: 100%;
  }

  .intro {
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
</style>

<BaseLayout>
  <section class='max-width'>
    <p class='intro'>
      I work on a variety of projects, primarily focusing on development and
      programming. I do dabble in some art and graphic design, though, so feel
      free to check out those projects when they are available!
    </p>

    <div class='cards-wrapper'>
      <ProjectPageCard
        title='Frontend'
        description='Projects that focus on the frontend for websites and apps. A lot of UI and UX design to be found here!'
        url='/projects/frontend'
        iconClass='ri-flashlight-fill'
        stats={true}
      />
      <ProjectPageCard
        title='Backend'
        description="Projects that focus on the server side of things for apps and sites. Expect to find some projects that don't look fancy, but are working hard!"
        url='/projects/backend'
        disabled={true}
        iconClass='ri-terminal-box-fill'
      />
      <ProjectPageCard
        title='Graphic Design'
        description='These are any designs and projects I made that focus more on visual communication.'
        url='/projects/graphic-design'
        disabled={true}
        iconClass='ri-artboard-fill'
      />
      <ProjectPageCard
        title='3D Modeling'
        description='Not my primary focus, but I do enjoy 3D modeling and sculpting every now and then.'
        url='/projects/3d-modeling'
        disabled={true}
        iconClass='ri-shape-fill'
      />
      <ProjectPageCard
        title='Animation'
        description='Ties into 3D modeling a bit, but is still a different skill set, but this is primarily for any animation projects I have made. Again, not my main focus, but something I like to try now and again.'
        url='/projects/animation'
        disabled={true}
        iconClass='ri-compasses-2-fill'
      />
    </div>
  </section>
</BaseLayout>
