---
import BlogPostCard from '@components/pages/blog/BlogPostCard.astro';
import PostDirectorySideNav from '@components/pages/blog/PostDirectorySideNav.astro';
// import PostDirectoryTopicNav from '@components/pages/blog/PostDirectoryTopicNav.astro';
import BlogPageImage from '@components/pages/blog/BlogPageImage.astro';
import Heading from '@components/typgraphy/Heading.astro';
import BaseLayout from './BaseLayout.astro';

type Props = {
  posts: any;
  directoryTitle: string;
  featuredPost?: any;
  enableImage?: boolean;
};

const {
  posts,
  directoryTitle,
  featuredPost,
  enableImage = false,
} = Astro.props;

const title =
  directoryTitle === 'Blog'
    ? 'Austin Hagel | Blog'
    : `Blog | ${directoryTitle}`;
---

<style>
  .directory-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;

    width: 100%;
    padding-inline: 1rem;

    height: 14rem;
  }

  h1.directory-title {
    font-size: 4rem;
  }

  /* *** General *** */
  a {
    text-decoration: none;
  }

  ul.blog-post-cards-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 0;

    list-style: none;
  }

  li {
    display: flex;

    padding: 0;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;

    padding-inline: 1rem;
    margin-bottom: 6rem;

    width: 100%;
  }

  .featured-post-wrapper {
    grid-column: span 2;
    /* padding-inline: 1rem; */
  }

  .side-nav-wrapper {
  }

  @media screen and (min-width: 768px) {
    .content-wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
    }
    /* *** Blog Post Cards *** */

    .blog-post-cards-list {
      margin-right: 1rem;
    }
  }
</style>

<BaseLayout title={title}>
  {
    enableImage ? (
      <BlogPageImage
        directoryTitle={directoryTitle}
        transition:name='post-directory-image'
      />
    ) : (
      <div class='directory-title-wrapper max-width'>
        <Heading
          type='title'
          level={1}
          class='directory-title'>
          {directoryTitle}
        </Heading>
      </div>
    )
  }

  <div class='content-wrapper max-width'>
    <!-- <PostDirectoryTopicNav
      posts={posts}
      urlPath={`/blog/topics/`}
    /> -->
    {
      featuredPost && (
        <div class='featured-post-wrapper'>
          <BlogPostCard
            featured={true}
            post={featuredPost}
            transition:name={`post-card-featured-${featuredPost.id}`}
          />
        </div>
      )
    }
    <section class='blog-post-cards-wrapper'>
      <ul class='blog-post-cards-list'>
        {
          posts.map((post: any) => (
            <li>
              <BlogPostCard
                post={post}
                transition:name={`post-card-${post.id}`}
              />
            </li>
          ))
        }
      </ul>
    </section>
    <div class='side-nav-wrapper'>
      <PostDirectorySideNav />
    </div>
  </div>
</BaseLayout>
