---
import BlogPostCard from '@components/BlogPostCard.astro';
import BlogPageImage from '@components/BlogPageImage.astro';
import '@styles/pages/blog.css';
import PostDirectoryTopicNav from '@components/PostDirectoryTopicNav.astro';
import PostDirectorySideNav from '@components/PostDirectorySideNav.astro';
import BlogPostCardFeatured from '@components/BlogPostCardFeatured.astro';

const { posts, imageLabel, featured } = Astro.props;
---

<BlogPageImage
  imageLabel={imageLabel}
  transition:name='post-directory-image'
/>
<div class='wrapper max-width'>
  <PostDirectoryTopicNav />
  {
    featured && (
      <BlogPostCardFeatured
        post={featured}
        transition:name={`post-card-featured-${featured.id}`}
      />
    )
  }
  <section class='blog-post-cards-wrapper'>
    <ul class='blog-post-cards-list'>
      {
        posts.map((post: any) => (
          <li>
            <BlogPostCard
              post={post}
              transition:name={`post-card-${post.id}`}
            />
          </li>
        ))
      }
    </ul>
  </section>
  <PostDirectorySideNav />
</div>
