---
import BlogPostCard from '@components/pages/blog/BlogPostCard.astro';
import PostDirectorySideNav from '@components/pages/blog/PostDirectorySideNav.astro';
// import PostDirectoryTopicNav from '@components/pages/blog/PostDirectoryTopicNav.astro';
import BlogPageImage from '@components/pages/blog/BlogPageImage.astro';
import Heading from '@components/typgraphy/Heading.astro';
import BaseLayout from './BaseLayout.astro';
import PostPaginator from '@components/pages/blog/PostPaginator.astro';

type Props = {
  page: any;
  directoryTitle: string;
  directoryType?: 'topic' | 'category' | 'tag';
  featuredPost?: any;
  enableImage?: boolean;
};

const {
  page,
  directoryTitle,
  directoryType,
  featuredPost,
  enableImage = false,
} = Astro.props;

const title =
  directoryTitle === 'Blog'
    ? 'Austin Hagel | Blog'
    : `Blog | ${directoryTitle}`;
---

<style>
  .directory-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 100%;
    padding-inline: 1rem;

    height: 14rem;
  }

  h1.directory-title {
    font-size: 4rem;
  }

  /* *** General *** */
  a {
    text-decoration: none;
  }

  ul.blog-post-cards-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 0;
    margin-top: 0;

    list-style: none;
  }

  li {
    display: flex;

    padding: 0;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;

    padding-inline: 1rem;
    margin-bottom: 6rem;

    width: 100%;
  }

  .featured-post-wrapper {
    grid-column: span 2;
    /* padding-inline: 1rem; */
  }

  .heading-directory-type {
    position: relative;
    bottom: 1.2rem;

    display: flex;
    align-items: center;
    gap: 0.4ch;

    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.1ch;
    color: var(--clr-subtext-0);

    background-color: var(--clr-base);
    padding-inline: 1rem;
    padding-block: 0.4rem;

    margin: 0.6rem 0 0 0;

    border-radius: var(--radius-surface);
  }

  .heading-directory-type-icon {
    position: relative;
    /* top: 1px; */
  }

  .heading-directory-type-label {
    text-transform: capitalize;
  }

  @media screen and (min-width: 768px) {
    .content-wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
    }
    /* *** Blog Post Cards *** */

    .blog-post-cards-list {
      margin-right: 1rem;
    }
  }
</style>

<BaseLayout title={title}>
  {
    enableImage ? (
      <BlogPageImage
        directoryTitle={directoryTitle}
        transition:name='post-directory-image'
      />
    ) : (
      <div class='directory-title-wrapper max-width'>
        <Heading
          type='title'
          level={1}
          class='directory-title'>
          {directoryTitle}
        </Heading>
        {directoryType && (
          <p class='heading-directory-type'>
            {directoryType === 'topic' && (
              <span class='heading-directory-type-icon bx bxs-bulb' />
            )}
            {directoryType === 'category' && (
              <span class='heading-directory-type-icon bx bxs-category' />
            )}
            {directoryType === 'tag' && (
              <span class='heading-directory-type-icon bx bxs-tag-alt' />
            )}
            <span class='heading-directory-type-label'>{directoryType}</span>
          </p>
        )}
      </div>
    )
  }

  <div class='content-wrapper max-width'>
    <!-- <PostDirectoryTopicNav
      posts={posts}
      urlPath={`/blog/topics/`}
    /> -->
    {
      featuredPost && (
        <section class='featured-post-wrapper'>
          <BlogPostCard
            featured={true}
            post={featuredPost}
            transition:name={`post-card-featured-${featuredPost.id}`}
          />
        </section>
      )
    }
    <section class='blog-post-cards-wrapper'>
      <ul
        class='blog-post-cards-list'
        transition:name='blog-post-cards-list'>
        {
          page.data.map((post: any) => (
            <li>
              <BlogPostCard
                post={post}
                transition:name={`post-card-${post.id}`}
              />
            </li>
          ))
        }
      </ul>
      <PostPaginator page={page} />
    </section>
    <div class='side-nav-wrapper'>
      <PostDirectorySideNav />
    </div>
  </div>
</BaseLayout>
