---
import BlogPageImage from '@components/pages/blog/BlogPageImage.astro';
import BlogPostCard from '@components/pages/blog/BlogPostCard.astro';
import BlogPostCardFeatured from '@components/pages/blog/BlogPostCardFeatured.astro';
import PostDirectorySideNav from '@components/pages/blog/PostDirectorySideNav.astro';
import PostDirectoryTopicNav from '@components/pages/blog/PostDirectoryTopicNav.astro';

type Props = {
  posts: any;
  directoryTitle: any;
  featured: any;
  enableImage: boolean;
};

const { posts, directoryTitle, featured, enableImage = false } = Astro.props;
---

<style>
  /* *** General *** */
  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;

    padding: 0;

    list-style: none;
  }

  li {
    display: flex;

    padding: 0;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;

    padding-inline: 1rem;

    width: 100%;
  }

  .featured-post-wrapper {
    grid-column: span 2;
    /* padding-inline: 1rem; */
  }

  .side-nav-wrapper {
  }

  @media screen and (min-width: 768px) {
    /* *** Blog Post Cards *** */

    .blog-post-cards-list {
      padding-right: 1rem;
    }
  }
</style>

{
  enableImage ? (
    <BlogPageImage
      directoryTitle={directoryTitle}
      transition:name='post-directory-image'
    />
  ) : (
    <h1>{directoryTitle}</h1>
  )
}

<div class='content-wrapper max-width'>
  <PostDirectoryTopicNav
    posts={posts}
    urlPath={`/blog/topics/`}
  />
  {
    featured && (
      <div class='featured-post-wrapper'>
        <BlogPostCardFeatured
          post={featured}
          transition:name={`post-card-featured-${featured.id}`}
        />
      </div>
    )
  }
  <section class='blog-post-cards-wrapper'>
    <ul class='blog-post-cards-list'>
      {
        posts.map((post: any) => (
          <li>
            <BlogPostCard
              post={post}
              transition:name={`post-card-${post.id}`}
            />
          </li>
        ))
      }
    </ul>
  </section>
  <div class='side-nav-wrapper'>
    <PostDirectorySideNav />
  </div>
</div>
