---
import BlogPostCard from '@components/pages/blog/BlogPostCard.astro';
import BlogPostCardFeatured from '@components/pages/blog/BlogPostCardFeatured.astro';
import PostDirectorySideNav from '@components/pages/blog/PostDirectorySideNav.astro';
// import PostDirectoryTopicNav from '@components/pages/blog/PostDirectoryTopicNav.astro';
import BlogPageImage from '@components/pages/blog/BlogPageImage.astro';
import Heading from '@components/typgraphy/Heading.astro';

type Props = {
  posts: any;
  directoryTitle: string;
  featuredPost?: any;
  enableImage?: boolean;
};

const {
  posts,
  directoryTitle,
  featuredPost,
  enableImage = false,
} = Astro.props;
---

<style>
  .directory-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;

    width: 100%;
    padding-inline: 1rem;

    height: 14rem;
  }

  h1.directory-title {
    font-size: 4rem;
  }

  /* *** General *** */
  a {
    text-decoration: none;
  }

  ul.blog-post-cards-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 0;
    margin-right: 1rem;

    list-style: none;
  }

  li {
    display: flex;

    padding: 0;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;

    padding-inline: 1rem;
    margin-bottom: 6rem;

    width: 100%;
  }

  .featured-post-wrapper {
    grid-column: span 2;
    /* padding-inline: 1rem; */
  }

  .side-nav-wrapper {
  }

  @media screen and (min-width: 768px) {
    /* *** Blog Post Cards *** */

    .blog-post-cards-list {
      padding-right: 1rem;
    }
  }
</style>

{
  enableImage ? (
    <BlogPageImage
      directoryTitle={directoryTitle}
      transition:name='post-directory-image'
    />
  ) : (
    <div class='directory-title-wrapper max-width'>
      <Heading
        type='title'
        level={1}
        class='directory-title'>
        {directoryTitle}
      </Heading>
    </div>
  )
}

<div class='content-wrapper max-width'>
  <!-- <PostDirectoryTopicNav
    posts={posts}
    urlPath={`/blog/topics/`}
  /> -->
  {
    featuredPost && (
      <div class='featured-post-wrapper'>
        <BlogPostCardFeatured
          post={featuredPost}
          transition:name={`post-card-featured-${featuredPost.id}`}
        />
      </div>
    )
  }
  <section class='blog-post-cards-wrapper'>
    <ul class='blog-post-cards-list'>
      {
        posts.map((post: any) => (
          <li>
            <BlogPostCard
              post={post}
              transition:name={`post-card-${post.id}`}
            />
          </li>
        ))
      }
    </ul>
  </section>
  <div class='side-nav-wrapper'>
    <PostDirectorySideNav />
  </div>
</div>
