---
import '@styles/posts/codeBlockCopyButton.css';
import '@styles/posts/markdownPostStyles.css';
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import DateLabel from '@components/interface/DateLabel.astro';
import ProjectGalleryOverlay from '@/components/pages/projects/ProjectGalleryOverlay.astro';
import ProjectGallery from '@/components/pages/projects/ProjectGallery.astro';
import StatusDot from '@/components/pages/projects/StatusDot.astro';
import Chip from '@/components/interface/Chip.astro';
import { getIcon } from '@/scripts/utils/iconHelper';

interface Props {
  frontmatter: any;
  project: CollectionEntry<'frontendProjects'>;
}

const { frontmatter, project } = Astro.props;

const hasImages = frontmatter.images ? true : false;
---

<style>
  main {
    margin-top: 8rem;
  }

  p {
    color: var(--clr-subtext-1);
    font-size: 1.2rem;
  }

  hr {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;

    background-color: var(--clr-surface-2);
  }

  .post-title {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin: 0;

    font-size: 1.85rem;
  }

  .post-wrapper-spacer {
    padding-inline: 0;
    width: 100%;
  }

  .post-wrapper {
    background-color: var(--clr-base);
    border-radius: var(--radius-surface);
    overflow: hidden;
  }

  .post-header {
    padding-inline: 1rem;
  }

  .post-content {
    padding-block: 1rem;
    padding-inline: 1rem;
  }

  /*** Post Picture ***/

  .picture-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    aspect-ratio: 2/1;
  }

  .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*** Footer ***/

  footer {
    display: flex;

    width: 100%;
  }

  .footer-content {
    width: 100%;

    padding: 1rem;
    margin-block: 2rem;

    border-radius: var(--radius-surface);

    background-color: var(--clr-base);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  .post-info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    margin-top: 1rem;
  }

  ul.links-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;

    list-style: none;

    padding: 0;

    margin: 0;
  }

  a.link {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.6rem; */

    color: var(--clr-text);
    text-decoration: none;

    border-radius: var(--radius-circle);
    outline: 1px solid var(--clr-surface-0);

    background-color: var(--clr-mantle);

    padding: 0.6rem;

    overflow: hidden;

    transition-property: color, background-color, outline;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  a.link:hover {
    outline: 1px solid var(--clr-surface-1);
    color: var(--clr-primary);
    background-color: var(--clr-base);
  }

  .link-label {
    margin-right: auto;
    padding-right: 2rem;
    padding-left: 1rem;
  }

  .link-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: auto;

    aspect-ratio: 1;

    background-color: var(--clr-base);

    height: 100%;

    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  a:hover > .link-icon-wrapper {
    background-color: var(--clr-surface-0);
    color: var(--clr-primary);
  }

  .link-icon {
    font-size: 1.4rem;
  }

  ul.tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;

    list-style-type: none;
  }

  li.tags-list-item {
    width: fit-content;
  }

  @media screen and (min-width: 768px) {
    .post-wrapper-spacer {
      padding-inline: 1rem;
    }

    .post-wrapper {
      border-radius: var(--radius-base);
    }

    .post-header {
      padding-inline: 4rem;
    }

    .post-content {
      padding-inline: 4rem;
    }
  }

  @media screen and (max-width: 768px) {
    main {
      margin-top: 3.5rem;
    }
  }
</style>

<ProjectGalleryOverlay />

<main class='post-wrapper-spacer max-width'>
  <article class='post-wrapper'>
    {
      hasImages ? (
        <div>
          <ProjectGallery images={frontmatter.images} />
        </div>
      ) : (
        frontmatter.cover && (
          <div class='picture-wrapper'>
            <Image
              alt={frontmatter.cover_alt}
              width={1200}
              height={800}
              src={frontmatter.cover}
              class={'picture'}
              transition:name={`blog-cover-${project.data.title}`}
            />
          </div>
        )
      )
    }

    <header class='post-header'>
      <div class='post-info-wrapper'>
        <DateLabel date={frontmatter.date_completed} />
        <ul class='links-list'>
          {
            frontmatter.github_url && (
              <li class='link-list-item'>
                <a
                  title='Visit GitHub repository'
                  class='link'
                  href={frontmatter.github_url}
                  target='_blank'>
                  <span class='link-icon ri-git-repository-fill' />
                  <span class='link-label visually-hidden'>GitHub</span>
                </a>
              </li>
            )
          }
          {
            frontmatter.demo_url && (
              <li class='link-list-item'>
                <a
                  title='See demo'
                  class='link'
                  href={frontmatter.demo_url}
                  target='_blank'>
                  <span class='link-icon ri-pages-fill' />
                  <span class='link-label visually-hidden'>Demo</span>
                </a>
              </li>
            )
          }
          {
            frontmatter.fem_url && (
              <li class='link-list-item'>
                <a
                  title='Visit Frontend Mentor challenge page'
                  class='link'
                  href={frontmatter.fem_url}
                  target='_blank'>
                  <span class='link-icon ri-pencil-ruler-2-fill' />
                  <span class='link-label visually-hidden'>Challenge</span>
                </a>
              </li>
            )
          }
        </ul>
      </div>
      <h1 class='post-title'>
        <span>
          <StatusDot type={frontmatter.status} />
        </span>
        <span>{frontmatter.title}</span>
      </h1>
      <p class='post-subtitle'>{frontmatter.description}</p>
      <hr />
    </header>
    <div class='post-content'>
      <slot />
    </div>
  </article>
  <footer class='max-width'>
    <div class='footer-content'>
      <ul class='tags-list'>
        {
          frontmatter.tags.map((tag: string) => (
            <li class='tags-list-item'>
              <Chip
                url={`/projects/frontend/tags/${tag}`}
                size='sm'>
                <span class={`tech-icon ${getIcon(tag)}`} />
                <span>{tag}</span>
              </Chip>
            </li>
          ))
        }
      </ul>
      <!-- <div class='tags'>
        {
          frontmatter.tags.map((tag: string) => (
            <Tag url={`/projects/frontend/tags/${tag}`}>{tag}</Tag>
          ))
        }
      </div> -->
    </div>
  </footer>
</main>

<script src='@/scripts/codeBlockCopy.ts'></script>
