---
import TaxonomyCard from '@components/pages/blog/TaxonomyCard.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import toCapitalCase from '@scripts/utils/toCapitalCase';

type Props = {
  taxonomyCollection: any;
  page: 'tags' | 'categories' | 'topics';
};

const { taxonomyCollection, page } = Astro.props;

const pageTitleLabel = toCapitalCase(page);

const title = `Blog | ${pageTitleLabel}`;
---

<style>
  .title {
    width: 100%;
  }
  .content-wrapper {
    width: 100%;
    padding-inline: 1rem;
  }

  .content {
    padding: 1rem;

    background-color: var(--clr-base);

    border-radius: var(--radius-surface);
  }
</style>

<BaseLayout title={title}>
  <section class='content-wrapper max-width'>
    <article class='content'>
      <ul>
        {
          taxonomyCollection.map((taxonomyItem: any) => (
            <li>
              <TaxonomyCard
                title={taxonomyItem}
                postsCount={0}
                categoriesCount={0}
                tagsCount={0}
                url={`/blog/${page}/${taxonomyItem}`}
              />
            </li>
          ))
        }
      </ul>
    </article>
  </section>
  <h1 class='title max-width'>{pageTitleLabel}</h1>
</BaseLayout>
