---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import ProjectCard from '@/components/pages/projects/ProjectCard.astro';
import { getIcon } from '@/scripts/utils/iconHelper';

export async function getStaticPaths() {
  const allProjectPosts = await getCollection('frontendProjects');
  const uniqueTags = [
    ...new Set(allProjectPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allProjectPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { projectPosts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { projectPosts } = Astro.props;
---

<style>
  .max-width {
    padding-inline: 1rem;

    margin-bottom: 8rem;
  }

  ul.projects-list {
    display: grid;
    gap: 2rem;

    list-style: none;

    padding: 0;
    margin: 0;
  }

  li.projects-list-item {
    display: flex;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.3ch;

    height: 6rem;
    width: fit-content;

    font-size: 3rem;

    margin: 0;
    margin-bottom: 4rem;
    padding-right: 1rem;

    background-color: var(--clr-base);

    outline: 1px solid var(--clr-surface-0);
    border-radius: var(--radius-surface);

    width: fit-content;

    overflow: hidden;
  }

  .title-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    font-size: 4rem;

    background-color: var(--clr-mantle);
    width: 6rem;
    height: 6rem;

    height: 100%;

    aspect-ratio: 1 / 1;
  }

  .title-text {
    padding-inline: 2rem;
    padding-block: 0.8rem;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .title-wrapper {
      height: 3.5rem;
    }

    .title-icon-wrapper {
      font-size: 2.5rem;

      width: 3.5rem;
      height: 3.5rem;
    }

    .title-text {
      font-size: 2rem;
      padding: 0;
      padding-inline: 0.2rem;
    }
  }

  @media screen and (min-width: 1024px) {
    ul.projects-list {
      grid-template-columns: 1fr 1fr;
      gap: 3rem 2rem;

      list-style: none;

      padding: 0;
      margin: 0;
    }
  }
</style>

<BaseLayout title={tag}>
  <section class='max-width'>
    <div class='title-wrapper box-shadow-2'>
      <div class={`title-icon-wrapper`}>
        <span class={`title-icon ${getIcon(tag)}`}></span>
      </div>
      <h2 class='title-text'>{tag}</h2>
    </div>

    <ul class='projects-list'>
      {
        projectPosts.map((post) => (
          <li class='projects-list-item'>
            <ProjectCard
              url={`/projects/frontend/${post.slug}`}
              data={post.data}
            />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
